openapi: 3.0.3
info:
  title: Google Docs API — narrowed for the docs adapter
  version: v1
  description: Tree-shaken to the 1 reviewed docs adapter operation. Generated from the
    Google Docs discovery document — do not edit by hand.
servers:
  - url: https://docs.googleapis.com
paths:
  /v1/documents/{documentId}:
    get:
      operationId: docs.documents.get
      description: Gets the latest version of the specified document.
      parameters:
        - name: suggestionsViewMode
          in: query
          required: false
          description: The suggestions view mode to apply to the document. This allows viewing the document
            with all suggestions inline, accepted or rejected. If one is not specified,
            DEFAULT_FOR_CURRENT_ACCESS is used.
          schema:
            type: string
            enum:
              - DEFAULT_FOR_CURRENT_ACCESS
              - SUGGESTIONS_INLINE
              - PREVIEW_SUGGESTIONS_ACCEPTED
              - PREVIEW_WITHOUT_SUGGESTIONS
            enumDescriptions:
              - The SuggestionsViewMode applied to the returned document depends on the user's
                current access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS
                is applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default
                suggestions view mode.
              - The returned document has suggestions inline. Suggested changes will be
                differentiated from base content within the document. Requests to retrieve a
                document using this mode will return a 403 error if the user does not have
                permission to view suggested changes.
              - The returned document is a preview with all suggested changes accepted. Requests to
                retrieve a document using this mode will return a 403 error if the user does not
                have permission to view suggested changes.
              - The returned document is a preview with all suggested changes rejected if there are
                any suggestions in the document.
            description: The suggestions view mode to apply to the document. This allows viewing the document
              with all suggestions inline, accepted or rejected. If one is not specified,
              DEFAULT_FOR_CURRENT_ACCESS is used.
        - name: includeTabsContent
          in: query
          required: false
          description: "Whether to populate the Document.tabs field instead of the text content fields like
            `body` and `documentStyle` on Document. - When `True`: Document content populates in the
            Document.tabs field instead of the text content fields in Document. - When `False`: The
            content of the document's first tab populates the content fields in Document excluding
            Document.tabs. If a document has only one tab, then that tab is used to populate the
            document content. Document.tabs will be empty."
          schema:
            type: boolean
            description: "Whether to populate the Document.tabs field instead of the text content fields like
              `body` and `documentStyle` on Document. - When `True`: Document content populates in
              the Document.tabs field instead of the text content fields in Document. - When
              `False`: The content of the document's first tab populates the content fields in
              Document excluding Document.tabs. If a document has only one tab, then that tab is
              used to populate the document content. Document.tabs will be empty."
        - name: documentId
          in: path
          required: true
          description: The ID of the document to retrieve.
          schema:
            description: The ID of the document to retrieve.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Document"
      security:
        - oauth2:
            - https://www.googleapis.com/auth/documents
            - https://www.googleapis.com/auth/documents.readonly
            - https://www.googleapis.com/auth/drive
            - https://www.googleapis.com/auth/drive.file
            - https://www.googleapis.com/auth/drive.readonly
      x-executor-toolPath: docs.documents.get
components:
  schemas:
    AutoText:
      type: object
      description: A ParagraphElement representing a spot in the text that's dynamically replaced with
        content that can change over time, like a page number.
      properties:
        suggestedTextStyleChanges:
          description: The suggested text style changes to this AutoText, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
        textStyle:
          description: The text style of this AutoText.
          $ref: "#/components/schemas/TextStyle"
        type:
          type: string
          description: The type of this auto text.
          enum:
            - TYPE_UNSPECIFIED
            - PAGE_NUMBER
            - PAGE_COUNT
          enumDescriptions:
            - An unspecified auto text type.
            - Type for auto text that represents the current page number.
            - Type for auto text that represents the total number of pages in the document.
        suggestedInsertionIds:
          type: array
          description: The suggested insertion IDs. An AutoText may have multiple insertion IDs if it's a
            nested suggested change. If empty, then this is not a suggested insertion.
          items:
            type: string
        suggestedDeletionIds:
          items:
            type: string
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          type: array
    Background:
      description: Represents the background of a document.
      properties:
        color:
          description: The background color.
          $ref: "#/components/schemas/OptionalColor"
      type: object
    BackgroundSuggestionState:
      description: A mask that indicates which of the fields on the base Background have been changed in
        this suggestion. For any field set to true, the Backgound has a new suggested value.
      properties:
        backgroundColorSuggested:
          description: Indicates whether the current background color has been modified in this suggestion.
          type: boolean
      type: object
    Body:
      type: object
      description: The document body. The body typically contains the full document contents except for
        headers, footers, and footnotes.
      properties:
        content:
          items:
            $ref: "#/components/schemas/StructuralElement"
          description: The contents of the body. The indexes for the body's content begin at zero.
          type: array
    BookmarkLink:
      description: A reference to a bookmark in this document.
      properties:
        tabId:
          type: string
          description: The ID of the tab containing this bookmark.
      type: object
    Bullet:
      description: Describes the bullet of a paragraph.
      properties:
        listId:
          type: string
          description: The ID of the list this paragraph belongs to.
        textStyle:
          description: The paragraph-specific text style applied to this bullet.
          $ref: "#/components/schemas/TextStyle"
        nestingLevel:
          description: The nesting level of this paragraph in the list.
          format: int32
          type: integer
      type: object
    BulletSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base Bullet have been changed in this
        suggestion. For any field set to true, there's a new suggested value.
      properties:
        listIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to the list_id.
        nestingLevelSuggested:
          type: boolean
          description: Indicates if there was a suggested change to the nesting_level.
        textStyleSuggestionState:
          description: A mask that indicates which of the fields in text style have been changed in this
            suggestion.
          $ref: "#/components/schemas/TextStyleSuggestionState"
    Color:
      description: A solid color.
      properties:
        rgbColor:
          description: The RGB color value.
          $ref: "#/components/schemas/RgbColor"
      type: object
    ColumnBreak:
      type: object
      description: A ParagraphElement representing a column break. A column break makes the subsequent
        text start at the top of the next column.
      properties:
        textStyle:
          description: The text style of this ColumnBreak. Similar to text content, like text runs and
            footnote references, the text style of a column break can affect content layout as well
            as the styling of text inserted next to it.
          $ref: "#/components/schemas/TextStyle"
        suggestedInsertionIds:
          items:
            type: string
          description: The suggested insertion IDs. A ColumnBreak may have multiple insertion IDs if it's a
            nested suggested change. If empty, then this is not a suggested insertion.
          type: array
        suggestedDeletionIds:
          items:
            type: string
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
          description: The suggested text style changes to this ColumnBreak, keyed by suggestion ID.
    CropProperties:
      type: object
      description: The crop properties of an image. The crop rectangle is represented using fractional
        offsets from the original content's 4 edges. - If the offset is in the interval (0, 1), the
        corresponding edge of crop rectangle is positioned inside of the image's original bounding
        rectangle. - If the offset is negative or greater than 1, the corresponding edge of crop
        rectangle is positioned outside of the image's original bounding rectangle. - If all offsets
        and rotation angles are 0, the image is not cropped.
      properties:
        offsetLeft:
          type: number
          description: The offset specifies how far inwards the left edge of the crop rectangle is from the
            left edge of the original content as a fraction of the original content's width.
          format: float
        offsetTop:
          type: number
          description: The offset specifies how far inwards the top edge of the crop rectangle is from the top
            edge of the original content as a fraction of the original content's height.
          format: float
        offsetBottom:
          type: number
          description: The offset specifies how far inwards the bottom edge of the crop rectangle is from the
            bottom edge of the original content as a fraction of the original content's height.
          format: float
        offsetRight:
          type: number
          description: The offset specifies how far inwards the right edge of the crop rectangle is from the
            right edge of the original content as a fraction of the original content's width.
          format: float
        angle:
          description: The clockwise rotation angle of the crop rectangle around its center, in radians.
            Rotation is applied after the offsets.
          format: float
          type: number
    CropPropertiesSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base CropProperties have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        offsetLeftSuggested:
          description: Indicates if there was a suggested change to offset_left.
          type: boolean
        angleSuggested:
          type: boolean
          description: Indicates if there was a suggested change to angle.
        offsetRightSuggested:
          description: Indicates if there was a suggested change to offset_right.
          type: boolean
        offsetBottomSuggested:
          type: boolean
          description: Indicates if there was a suggested change to offset_bottom.
        offsetTopSuggested:
          description: Indicates if there was a suggested change to offset_top.
          type: boolean
    DateElement:
      description: A date instance mentioned in a document.
      properties:
        suggestedTextStyleChanges:
          description: The suggested text style changes to this DateElement, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
        dateId:
          description: Output only. The unique ID of this date.
          type: string
        textStyle:
          description: The text style of this DateElement.
          $ref: "#/components/schemas/TextStyle"
        dateElementProperties:
          description: The properties of this DateElement.
          $ref: "#/components/schemas/DateElementProperties"
        suggestedDateElementPropertiesChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedDateElementProperties"
          description: The suggested changes to the date element properties, keyed by suggestion ID.
        suggestedInsertionIds:
          description: IDs for suggestions that insert this date into the document. A DateElement might have
            multiple insertion IDs if it's a nested suggested change (a suggestion within a
            suggestion made by a different user, for example). If empty, then this date isn't a
            suggested insertion.
          type: array
          items:
            type: string
        suggestedDeletionIds:
          items:
            type: string
          type: array
          description: IDs for suggestions that remove this date from the document. A DateElement might have
            multiple deletion IDs if, for example, multiple users suggest deleting it. If empty,
            then this date isn't suggested for deletion.
      type: object
    DateElementProperties:
      type: object
      description: Properties of a DateElement.
      properties:
        timestamp:
          type: string
          description: "The point in time to represent, in seconds and nanoseconds since Unix epoch: January
            1, 1970 at midnight UTC. Timestamp is expected to be in UTC. If time_zone_id is set, the
            timestamp is adjusted according to the time zone. For example, a timestamp of `18000`
            with a date format of `DATE_FORMAT_ISO8601` and time format of `TIME_FORMAT_HOUR_MINUTE`
            would be displayed as `1970-01-01 5:00 AM`. A timestamp of `18000` with date format of
            `DATE_FORMAT_ISO8601`, time format of `TIME_FORMAT_HOUR_MINUTE`, and time zone set to
            `America/New_York` will instead be `1970-01-01 12:00 AM`."
          format: google-datetime
        displayText:
          description: Output only. Indicates how the DateElement is displayed in the document.
          type: string
        locale:
          description: "The language code of the DateElement. For example, `en`. If unset, the default locale
            is `en`. Limited to the following locales: `af`, `am`, `ar`, `as`, `az`, `be`, `bg`,
            `bn`, `ca`, `cs`, `da`, `de`, `el`, `en`, `en-CA`, `en-GB`, `es`, `es-419`, `et`, `eu`,
            `fa`, `fi`, `fil`, `fr`, `fr-CA`, `gl`, `gu`, `hi`, `hr`, `hu`, `hy`, `id`, `is`, `it`,
            `iw`, `ja`, `ka`, `kk`, `km`, `kn`, `ko`, `lo`, `lt`, `lv`, `mk`, `ml`, `mn`, `mr`,
            `ms`, `ne`, `nl`, `no`, `or`, `pa`, `pl`, `pt-BR`, `pt-PT`, `ro`, `ru`, `si`, `sk`,
            `sl`, `sq`, `sr`, `sv`, `sw`, `ta`, `te`, `th`, `tr`, `uk`, `ur`, `uz`, `vi`, `zh-CN`,
            `zh-HK`, `zh-TW`, `zu`, `cy`, `my`."
          type: string
        dateFormat:
          type: string
          description: Determines how the date part of the DateElement will be displayed in the document. If
            unset, the default value is DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED, indicating the
            DateElement will be formatted as `MMM d, y` in `en`, or locale specific equivalent.
          enum:
            - DATE_FORMAT_UNSPECIFIED
            - DATE_FORMAT_CUSTOM
            - DATE_FORMAT_MONTH_DAY_ABBREVIATED
            - DATE_FORMAT_MONTH_DAY_FULL
            - DATE_FORMAT_MONTH_DAY_YEAR_ABBREVIATED
            - DATE_FORMAT_ISO8601
          enumDescriptions:
            - The date format is unspecified.
            - Output only. The date format is imported from an external source.
            - The date format is an abbreviated month followed by the day. For example, "Jan 1".
            - The date format is a month followed by the day. For example, "January 01".
            - The date format is an abbreviated month followed by the day and the year. For example,
              "Jan 1, 1970".
            - The date format is in ISO 8601 format. For example, "1970-01-01".
        timeZoneId:
          type: string
          description: The time zone of the DateElement, as defined by the Unicode Common Locale Data
            Repository (CLDR) project. For example, `America/New_York`. If unset, the default time
            zone is `etc/UTC`.
        timeFormat:
          enumDescriptions:
            - The time format is unspecified.
            - Indicates that the date does not have a time.
            - The time format shows the hour and minute. For example, "Jan 1, 1970 12:00 PM".
            - The time format shows the hour, minute, and timezone. For example, "Jan 1, 1970 12:00
              PM UTC".
          type: string
          description: Determines how the time part of the DateElement will be displayed in the document. If
            unset, the default value is TIME_FORMAT_DISABLED, indicating no time should be shown.
          enum:
            - TIME_FORMAT_UNSPECIFIED
            - TIME_FORMAT_DISABLED
            - TIME_FORMAT_HOUR_MINUTE
            - TIME_FORMAT_HOUR_MINUTE_TIMEZONE
    DateElementPropertiesSuggestionState:
      description: A mask that indicates which of the fields on the base DateElementProperties have been
        changed in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        timestampSuggested:
          description: Indicates if there was a suggested change to timestamp.
          type: boolean
        dateFormatSuggested:
          description: Indicates if there was a suggested change to date_format.
          type: boolean
        timeZoneIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to time_zone_id.
        localeSuggested:
          type: boolean
          description: Indicates if there was a suggested change to locale.
        timeFormatSuggested:
          type: boolean
          description: Indicates if there was a suggested change to time_format.
      type: object
    Dimension:
      type: object
      description: A magnitude in a single direction in the specified units.
      properties:
        unit:
          enumDescriptions:
            - The units are unknown.
            - A point, 1/72 of an inch.
          type: string
          description: The units for magnitude.
          enum:
            - UNIT_UNSPECIFIED
            - PT
        magnitude:
          type: number
          description: The magnitude.
          format: double
    Document:
      type: object
      description: A Google Docs document.
      properties:
        tabs:
          description: Tabs that are part of a document. Tabs can contain child tabs, a tab nested within
            another tab. Child tabs are represented by the Tab.childTabs field.
          type: array
          items:
            $ref: "#/components/schemas/Tab"
        suggestionsViewMode:
          enumDescriptions:
            - The SuggestionsViewMode applied to the returned document depends on the user's current
              access level. If the user only has view access, PREVIEW_WITHOUT_SUGGESTIONS is
              applied. Otherwise, SUGGESTIONS_INLINE is applied. This is the default suggestions
              view mode.
            - The returned document has suggestions inline. Suggested changes will be differentiated
              from base content within the document. Requests to retrieve a document using this mode
              will return a 403 error if the user does not have permission to view suggested
              changes.
            - The returned document is a preview with all suggested changes accepted. Requests to
              retrieve a document using this mode will return a 403 error if the user does not have
              permission to view suggested changes.
            - The returned document is a preview with all suggested changes rejected if there are
              any suggestions in the document.
          description: "Output only. The suggestions view mode applied to the document. Note: When editing a
            document, changes must be based on a document with SUGGESTIONS_INLINE."
          enum:
            - DEFAULT_FOR_CURRENT_ACCESS
            - SUGGESTIONS_INLINE
            - PREVIEW_SUGGESTIONS_ACCEPTED
            - PREVIEW_WITHOUT_SUGGESTIONS
          type: string
        body:
          description: "Output only. The main body of the document. Legacy field: Instead, use
            Document.tabs.documentTab.body, which exposes the actual document content from all tabs
            when the includeTabsContent parameter is set to `true`. If `false` or unset, this field
            contains information about the first tab in the document."
          $ref: "#/components/schemas/Body"
        namedStyles:
          description: "Output only. The named styles of the document. Legacy field: Instead, use
            Document.tabs.documentTab.namedStyles, which exposes the actual document content from
            all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset,
            this field contains information about the first tab in the document."
          $ref: "#/components/schemas/NamedStyles"
        namedRanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/NamedRanges"
          description: "Output only. The named ranges in the document, keyed by name. Legacy field: Instead,
            use Document.tabs.documentTab.namedRanges, which exposes the actual document content
            from all tabs when the includeTabsContent parameter is set to `true`. If `false` or
            unset, this field contains information about the first tab in the document."
        headers:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Header"
          description: "Output only. The headers in the document, keyed by header ID. Legacy field: Instead,
            use Document.tabs.documentTab.headers, which exposes the actual document content from
            all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset,
            this field contains information about the first tab in the document."
        suggestedNamedStylesChanges:
          description: "Output only. The suggested changes to the named styles of the document, keyed by
            suggestion ID. Legacy field: Instead, use
            Document.tabs.documentTab.suggestedNamedStylesChanges, which exposes the actual document
            content from all tabs when the includeTabsContent parameter is set to `true`. If `false`
            or unset, this field contains information about the first tab in the document."
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedNamedStyles"
        title:
          description: The title of the document.
          type: string
        documentId:
          type: string
          description: Output only. The ID of the document.
        documentStyle:
          description: "Output only. The style of the document. Legacy field: Instead, use
            Document.tabs.documentTab.documentStyle, which exposes the actual document content from
            all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset,
            this field contains information about the first tab in the document."
          $ref: "#/components/schemas/DocumentStyle"
        suggestedDocumentStyleChanges:
          description: "Output only. The suggested changes to the style of the document, keyed by suggestion
            ID. Legacy field: Instead, use Document.tabs.documentTab.suggestedDocumentStyleChanges,
            which exposes the actual document content from all tabs when the includeTabsContent
            parameter is set to `true`. If `false` or unset, this field contains information about
            the first tab in the document."
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedDocumentStyle"
        positionedObjects:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PositionedObject"
          description: "Output only. The positioned objects in the document, keyed by object ID. Legacy field:
            Instead, use Document.tabs.documentTab.positionedObjects, which exposes the actual
            document content from all tabs when the includeTabsContent parameter is set to `true`.
            If `false` or unset, this field contains information about the first tab in the
            document."
        inlineObjects:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/InlineObject"
          description: "Output only. The inline objects in the document, keyed by object ID. Legacy field:
            Instead, use Document.tabs.documentTab.inlineObjects, which exposes the actual document
            content from all tabs when the includeTabsContent parameter is set to `true`. If `false`
            or unset, this field contains information about the first tab in the document."
        lists:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/List"
          description: "Output only. The lists in the document, keyed by list ID. Legacy field: Instead, use
            Document.tabs.documentTab.lists, which exposes the actual document content from all tabs
            when the includeTabsContent parameter is set to `true`. If `false` or unset, this field
            contains information about the first tab in the document."
        footers:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Footer"
          description: "Output only. The footers in the document, keyed by footer ID. Legacy field: Instead,
            use Document.tabs.documentTab.footers, which exposes the actual document content from
            all tabs when the includeTabsContent parameter is set to `true`. If `false` or unset,
            this field contains information about the first tab in the document."
        footnotes:
          description: "Output only. The footnotes in the document, keyed by footnote ID. Legacy field:
            Instead, use Document.tabs.documentTab.footnotes, which exposes the actual document
            content from all tabs when the includeTabsContent parameter is set to `true`. If `false`
            or unset, this field contains information about the first tab in the document."
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Footnote"
        revisionId:
          type: string
          description: Output only. The revision ID of the document. Can be used in update requests to specify
            which revision of a document to apply updates to and how the request should behave if
            the document has been edited since that revision. Only populated if the user has edit
            access to the document. The revision ID is not a sequential number but an opaque string.
            The format of the revision ID might change over time. A returned revision ID is only
            guaranteed to be valid for 24 hours after it has been returned and cannot be shared
            across users. If the revision ID is unchanged between calls, then the document has not
            changed. Conversely, a changed ID (for the same document and user) usually means the
            document has been updated. However, a changed ID can also be due to internal factors
            such as ID format changes.
    DocumentFormat:
      description: Represents document-level format settings.
      properties:
        documentMode:
          enumDescriptions:
            - The document mode is unspecified.
            - The document has pages.
            - The document is pageless.
          type: string
          description: Whether the document has pages or is pageless.
          enum:
            - DOCUMENT_MODE_UNSPECIFIED
            - PAGES
            - PAGELESS
      type: object
    DocumentStyle:
      type: object
      description: The style of the document.
      properties:
        background:
          description: The background of the document. Documents cannot have a transparent background color.
          $ref: "#/components/schemas/Background"
        defaultFooterId:
          type: string
          description: The ID of the default footer. If not set, there's no default footer. If DocumentMode is
            PAGELESS, this property will not be rendered. This property is read-only.
        firstPageFooterId:
          type: string
          description: The ID of the footer used only for the first page. If not set then a unique footer for
            the first page does not exist. The value of use_first_page_header_footer determines
            whether to use the default_footer_id or this value for the footer on the first page. If
            not set, there's no first page footer. If DocumentMode is PAGELESS, this property will
            not be rendered. This property is read-only.
        useEvenPageHeaderFooter:
          description: Indicates whether to use the even page header / footer IDs for the even pages. If
            DocumentMode is PAGELESS, this property will not be rendered.
          type: boolean
        useCustomHeaderFooterMargins:
          description: Indicates whether DocumentStyle margin_header, SectionStyle margin_header and
            DocumentStyle margin_footer, SectionStyle margin_footer are respected. When false, the
            default values in the Docs editor for header and footer margin is used. If DocumentMode
            is PAGELESS, this property will not be rendered. This property is read-only.
          type: boolean
        firstPageHeaderId:
          type: string
          description: The ID of the header used only for the first page. If not set then a unique header for
            the first page does not exist. The value of use_first_page_header_footer determines
            whether to use the default_header_id or this value for the header on the first page. If
            not set, there's no first page header. If DocumentMode is PAGELESS, this property will
            not be rendered. This property is read-only.
        documentFormat:
          description: Specifies document-level format settings, such as the document mode (pages vs pageless).
          $ref: "#/components/schemas/DocumentFormat"
        evenPageFooterId:
          type: string
          description: The ID of the footer used only for even pages. The value of use_even_page_header_footer
            determines whether to use the default_footer_id or this value for the footer on even
            pages. If not set, there's no even page footer. If DocumentMode is PAGELESS, this
            property will not be rendered. This property is read-only.
        marginFooter:
          description: The amount of space between the bottom of the page and the contents of the footer. If
            DocumentMode is PAGELESS, this property will not be rendered.
          $ref: "#/components/schemas/Dimension"
        marginTop:
          description: The top page margin. Updating the top page margin on the document style clears the top
            page margin on all section styles. If DocumentMode is PAGELESS, this property will not
            be rendered.
          $ref: "#/components/schemas/Dimension"
        marginLeft:
          description: The left page margin. Updating the left page margin on the document style clears the
            left page margin on all section styles. It may also cause columns to resize in all
            sections. If DocumentMode is PAGELESS, this property will not be rendered.
          $ref: "#/components/schemas/Dimension"
        marginHeader:
          description: The amount of space between the top of the page and the contents of the header. If
            DocumentMode is PAGELESS, this property will not be rendered.
          $ref: "#/components/schemas/Dimension"
        useFirstPageHeaderFooter:
          type: boolean
          description: Indicates whether to use the first page header / footer IDs for the first page. If
            DocumentMode is PAGELESS, this property will not be rendered.
        pageNumberStart:
          description: The page number from which to start counting the number of pages. If DocumentMode is
            PAGELESS, this property will not be rendered.
          format: int32
          type: integer
        marginBottom:
          description: The bottom page margin. Updating the bottom page margin on the document style clears
            the bottom page margin on all section styles. If DocumentMode is PAGELESS, this property
            will not be rendered.
          $ref: "#/components/schemas/Dimension"
        marginRight:
          description: The right page margin. Updating the right page margin on the document style clears the
            right page margin on all section styles. It may also cause columns to resize in all
            sections. If DocumentMode is PAGELESS, this property will not be rendered.
          $ref: "#/components/schemas/Dimension"
        pageSize:
          description: The size of a page in the document. If DocumentMode is PAGELESS, this property will not
            be rendered.
          $ref: "#/components/schemas/Size"
        defaultHeaderId:
          type: string
          description: The ID of the default header. If not set, there's no default header. If DocumentMode is
            PAGELESS, this property will not be rendered. This property is read-only.
        evenPageHeaderId:
          type: string
          description: The ID of the header used only for even pages. The value of use_even_page_header_footer
            determines whether to use the default_header_id or this value for the header on even
            pages. If not set, there's no even page header. If DocumentMode is PAGELESS, this
            property will not be rendered. This property is read-only.
        flipPageOrientation:
          description: Optional. Indicates whether to flip the dimensions of the page_size, which allows
            changing the page orientation between portrait and landscape. If DocumentMode is
            PAGELESS, this property will not be rendered.
          type: boolean
    DocumentStyleSuggestionState:
      description: A mask that indicates which of the fields on the base DocumentStyle have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        evenPageFooterIdSuggested:
          description: Indicates if there was a suggested change to even_page_footer_id.
          type: boolean
        useFirstPageHeaderFooterSuggested:
          description: Indicates if there was a suggested change to use_first_page_header_footer.
          type: boolean
        marginLeftSuggested:
          description: Indicates if there was a suggested change to margin_left.
          type: boolean
        pageSizeSuggestionState:
          description: A mask that indicates which of the fields in size have been changed in this suggestion.
          $ref: "#/components/schemas/SizeSuggestionState"
        marginHeaderSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_header.
        backgroundSuggestionState:
          description: A mask that indicates which of the fields in background have been changed in this
            suggestion.
          $ref: "#/components/schemas/BackgroundSuggestionState"
        marginBottomSuggested:
          description: Indicates if there was a suggested change to margin_bottom.
          type: boolean
        marginRightSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_right.
        firstPageFooterIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to first_page_footer_id.
        useEvenPageHeaderFooterSuggested:
          description: Indicates if there was a suggested change to use_even_page_header_footer.
          type: boolean
        marginTopSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_top.
        flipPageOrientationSuggested:
          description: Optional. Indicates if there was a suggested change to flip_page_orientation.
          type: boolean
        defaultHeaderIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to default_header_id.
        pageNumberStartSuggested:
          description: Indicates if there was a suggested change to page_number_start.
          type: boolean
        defaultFooterIdSuggested:
          description: Indicates if there was a suggested change to default_footer_id.
          type: boolean
        firstPageHeaderIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to first_page_header_id.
        useCustomHeaderFooterMarginsSuggested:
          type: boolean
          description: Indicates if there was a suggested change to use_custom_header_footer_margins.
        marginFooterSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_footer.
        evenPageHeaderIdSuggested:
          description: Indicates if there was a suggested change to even_page_header_id.
          type: boolean
      type: object
    DocumentTab:
      description: A tab with document contents.
      properties:
        inlineObjects:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/InlineObject"
          description: The inline objects in the document tab, keyed by object ID.
        suggestedDocumentStyleChanges:
          description: The suggested changes to the style of the document tab, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedDocumentStyle"
        positionedObjects:
          description: The positioned objects in the document tab, keyed by object ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PositionedObject"
        documentStyle:
          description: The style of the document tab.
          $ref: "#/components/schemas/DocumentStyle"
        headers:
          description: The headers in the document tab, keyed by header ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Header"
        suggestedNamedStylesChanges:
          description: The suggested changes to the named styles of the document tab, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedNamedStyles"
        footnotes:
          description: The footnotes in the document tab, keyed by footnote ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Footnote"
        footers:
          description: The footers in the document tab, keyed by footer ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/Footer"
        lists:
          description: The lists in the document tab, keyed by list ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/List"
        namedRanges:
          description: The named ranges in the document tab, keyed by name.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/NamedRanges"
        body:
          description: The main body of the document tab.
          $ref: "#/components/schemas/Body"
        namedStyles:
          description: The named styles of the document tab.
          $ref: "#/components/schemas/NamedStyles"
      type: object
    EmbeddedDrawingProperties:
      type: object
      description: The properties of an embedded drawing and used to differentiate the object type. An
        embedded drawing is one that's created and edited within a document. Note that extensive
        details are not supported.
      properties: {}
    EmbeddedDrawingPropertiesSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base EmbeddedDrawingProperties have
        been changed in this suggestion. For any field set to true, there's a new suggested value.
      properties: {}
    EmbeddedObject:
      description: An embedded object in the document.
      properties:
        size:
          description: The visible size of the image after cropping.
          $ref: "#/components/schemas/Size"
        marginBottom:
          description: The bottom margin of the embedded object.
          $ref: "#/components/schemas/Dimension"
        imageProperties:
          description: The properties of an image.
          $ref: "#/components/schemas/ImageProperties"
        title:
          type: string
          description: The title of the embedded object. The `title` and `description` are both combined to
            display alt text.
        linkedContentReference:
          description: A reference to the external linked source content. For example, it contains a reference
            to the source Google Sheets chart when the embedded object is a linked chart. If unset,
            then the embedded object is not linked.
          $ref: "#/components/schemas/LinkedContentReference"
        description:
          type: string
          description: The description of the embedded object. The `title` and `description` are both combined
            to display alt text.
        marginRight:
          description: The right margin of the embedded object.
          $ref: "#/components/schemas/Dimension"
        marginTop:
          description: The top margin of the embedded object.
          $ref: "#/components/schemas/Dimension"
        marginLeft:
          description: The left margin of the embedded object.
          $ref: "#/components/schemas/Dimension"
        embeddedDrawingProperties:
          description: The properties of an embedded drawing.
          $ref: "#/components/schemas/EmbeddedDrawingProperties"
        embeddedObjectBorder:
          description: The border of the embedded object.
          $ref: "#/components/schemas/EmbeddedObjectBorder"
      type: object
    EmbeddedObjectBorder:
      type: object
      description: A border around an EmbeddedObject.
      properties:
        color:
          description: The color of the border.
          $ref: "#/components/schemas/OptionalColor"
        width:
          description: The width of the border.
          $ref: "#/components/schemas/Dimension"
        dashStyle:
          enumDescriptions:
            - Unspecified dash style.
            - Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the
              default dash style.
            - Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.
            - Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.
          description: The dash style of the border.
          enum:
            - DASH_STYLE_UNSPECIFIED
            - SOLID
            - DOT
            - DASH
          type: string
        propertyState:
          type: string
          description: The property state of the border property.
          enum:
            - RENDERED
            - NOT_RENDERED
          enumDescriptions:
            - If a property's state is RENDERED, then the element has the corresponding property
              when rendered in the document. This is the default value.
            - If a property's state is NOT_RENDERED, then the element does not have the
              corresponding property when rendered in the document.
    EmbeddedObjectBorderSuggestionState:
      description: A mask that indicates which of the fields on the base EmbeddedObjectBorder have been
        changed in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        widthSuggested:
          description: Indicates if there was a suggested change to width.
          type: boolean
        colorSuggested:
          type: boolean
          description: Indicates if there was a suggested change to color.
        dashStyleSuggested:
          type: boolean
          description: Indicates if there was a suggested change to dash_style.
        propertyStateSuggested:
          description: Indicates if there was a suggested change to property_state.
          type: boolean
      type: object
    EmbeddedObjectSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base EmbeddedObject have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        titleSuggested:
          description: Indicates if there was a suggested change to title.
          type: boolean
        descriptionSuggested:
          description: Indicates if there was a suggested change to description.
          type: boolean
        marginBottomSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_bottom.
        marginTopSuggested:
          description: Indicates if there was a suggested change to margin_top.
          type: boolean
        embeddedDrawingPropertiesSuggestionState:
          description: A mask that indicates which of the fields in embedded_drawing_properties have been
            changed in this suggestion.
          $ref: "#/components/schemas/EmbeddedDrawingPropertiesSuggestionState"
        marginRightSuggested:
          description: Indicates if there was a suggested change to margin_right.
          type: boolean
        marginLeftSuggested:
          type: boolean
          description: Indicates if there was a suggested change to margin_left.
        sizeSuggestionState:
          description: A mask that indicates which of the fields in size have been changed in this suggestion.
          $ref: "#/components/schemas/SizeSuggestionState"
        linkedContentReferenceSuggestionState:
          description: A mask that indicates which of the fields in linked_content_reference have been changed
            in this suggestion.
          $ref: "#/components/schemas/LinkedContentReferenceSuggestionState"
        imagePropertiesSuggestionState:
          description: A mask that indicates which of the fields in image_properties have been changed in this
            suggestion.
          $ref: "#/components/schemas/ImagePropertiesSuggestionState"
        embeddedObjectBorderSuggestionState:
          description: A mask that indicates which of the fields in embedded_object_border have been changed
            in this suggestion.
          $ref: "#/components/schemas/EmbeddedObjectBorderSuggestionState"
    Equation:
      description: A ParagraphElement representing an equation.
      properties:
        suggestedInsertionIds:
          items:
            type: string
          type: array
          description: The suggested insertion IDs. An Equation may have multiple insertion IDs if it's a
            nested suggested change. If empty, then this is not a suggested insertion.
        suggestedDeletionIds:
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          type: array
          items:
            type: string
      type: object
    Footer:
      type: object
      description: A document footer.
      properties:
        content:
          items:
            $ref: "#/components/schemas/StructuralElement"
          description: The contents of the footer. The indexes for a footer's content begin at zero.
          type: array
        footerId:
          description: The ID of the footer.
          type: string
    Footnote:
      type: object
      description: A document footnote.
      properties:
        footnoteId:
          type: string
          description: The ID of the footnote.
        content:
          description: The contents of the footnote. The indexes for a footnote's content begin at zero.
          type: array
          items:
            $ref: "#/components/schemas/StructuralElement"
    FootnoteReference:
      description: A ParagraphElement representing a footnote reference. A footnote reference is the
        inline content rendered with a number and is used to identify the footnote.
      properties:
        suggestedTextStyleChanges:
          description: The suggested text style changes to this FootnoteReference, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
        textStyle:
          description: The text style of this FootnoteReference.
          $ref: "#/components/schemas/TextStyle"
        footnoteNumber:
          type: string
          description: The rendered number of this footnote.
        footnoteId:
          description: The ID of the footnote that contains the content of this footnote reference.
          type: string
        suggestedInsertionIds:
          items:
            type: string
          type: array
          description: The suggested insertion IDs. A FootnoteReference may have multiple insertion IDs if
            it's a nested suggested change. If empty, then this is not a suggested insertion.
        suggestedDeletionIds:
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          items:
            type: string
      type: object
    Header:
      type: object
      description: A document header.
      properties:
        headerId:
          type: string
          description: The ID of the header.
        content:
          description: The contents of the header. The indexes for a header's content begin at zero.
          type: array
          items:
            $ref: "#/components/schemas/StructuralElement"
    HeadingLink:
      description: A reference to a heading in this document.
      properties:
        tabId:
          type: string
          description: The ID of the tab containing this heading.
      type: object
    HorizontalRule:
      type: object
      description: A ParagraphElement representing a horizontal line.
      properties:
        suggestedTextStyleChanges:
          description: The suggested text style changes to this HorizontalRule, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
        textStyle:
          description: The text style of this HorizontalRule. Similar to text content, like text runs and
            footnote references, the text style of a horizontal rule can affect content layout as
            well as the styling of text inserted next to it.
          $ref: "#/components/schemas/TextStyle"
        suggestedInsertionIds:
          description: The suggested insertion IDs. A HorizontalRule may have multiple insertion IDs if it is
            a nested suggested change. If empty, then this is not a suggested insertion.
          type: array
          items:
            type: string
        suggestedDeletionIds:
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          items:
            type: string
    ImageProperties:
      description: The properties of an image.
      properties:
        contentUri:
          type: string
          description: A URI to the image with a default lifetime of 30 minutes. This URI is tagged with the
            account of the requester. Anyone with the URI effectively accesses the image as the
            original requester. Access to the image may be lost if the document's sharing settings
            change.
        contrast:
          description: The contrast effect of the image. The value should be in the interval [-1.0, 1.0],
            where 0 means no effect.
          format: float
          type: number
        transparency:
          description: The transparency effect of the image. The value should be in the interval [0.0, 1.0],
            where 0 means no effect and 1 means transparent.
          format: float
          type: number
        sourceUri:
          type: string
          description: The source URI is the URI used to insert the image. The source URI can be empty.
        brightness:
          type: number
          description: The brightness effect of the image. The value should be in the interval [-1.0, 1.0],
            where 0 means no effect.
          format: float
        cropProperties:
          description: The crop properties of the image.
          $ref: "#/components/schemas/CropProperties"
        angle:
          description: The clockwise rotation angle of the image, in radians.
          format: float
          type: number
      type: object
    ImagePropertiesSuggestionState:
      description: A mask that indicates which of the fields on the base ImageProperties have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        contentUriSuggested:
          description: Indicates if there was a suggested change to content_uri.
          type: boolean
        sourceUriSuggested:
          type: boolean
          description: Indicates if there was a suggested change to source_uri.
        transparencySuggested:
          description: Indicates if there was a suggested change to transparency.
          type: boolean
        cropPropertiesSuggestionState:
          description: A mask that indicates which of the fields in crop_properties have been changed in this
            suggestion.
          $ref: "#/components/schemas/CropPropertiesSuggestionState"
        contrastSuggested:
          type: boolean
          description: Indicates if there was a suggested change to contrast.
        angleSuggested:
          type: boolean
          description: Indicates if there was a suggested change to angle.
        brightnessSuggested:
          description: Indicates if there was a suggested change to brightness.
          type: boolean
      type: object
    InlineObject:
      type: object
      description: An object that appears inline with text. An InlineObject contains an EmbeddedObject
        such as an image.
      properties:
        suggestedInsertionId:
          description: The suggested insertion ID. If empty, then this is not a suggested insertion.
          type: string
        suggestedDeletionIds:
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          type: array
          items:
            type: string
        objectId:
          description: The ID of this inline object. Can be used to update an object’s properties.
          type: string
        inlineObjectProperties:
          description: The properties of this inline object.
          $ref: "#/components/schemas/InlineObjectProperties"
        suggestedInlineObjectPropertiesChanges:
          description: The suggested changes to the inline object properties, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedInlineObjectProperties"
    InlineObjectElement:
      description: A ParagraphElement that contains an InlineObject.
      properties:
        suggestedInsertionIds:
          type: array
          description: The suggested insertion IDs. An InlineObjectElement may have multiple insertion IDs if
            it's a nested suggested change. If empty, then this is not a suggested insertion.
          items:
            type: string
        suggestedDeletionIds:
          items:
            type: string
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
        textStyle:
          description: The text style of this InlineObjectElement. Similar to text content, like text runs and
            footnote references, the text style of an inline object element can affect content
            layout as well as the styling of text inserted next to it.
          $ref: "#/components/schemas/TextStyle"
        inlineObjectId:
          type: string
          description: The ID of the InlineObject this element contains.
        suggestedTextStyleChanges:
          description: The suggested text style changes to this InlineObject, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
      type: object
    InlineObjectProperties:
      description: Properties of an InlineObject.
      properties:
        embeddedObject:
          description: The embedded object of this inline object.
          $ref: "#/components/schemas/EmbeddedObject"
      type: object
    InlineObjectPropertiesSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base InlineObjectProperties have been
        changed in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        embeddedObjectSuggestionState:
          description: A mask that indicates which of the fields in embedded_object have been changed in this
            suggestion.
          $ref: "#/components/schemas/EmbeddedObjectSuggestionState"
    Link:
      type: object
      description: A reference to another portion of a document or an external URL resource.
      properties:
        heading:
          description: A heading in this document. In documents containing a single tab, links to headings
            within the singular tab continue to return Link.headingId when the includeTabsContent
            parameter is set to `false` or unset. Otherwise, this field is returned.
          $ref: "#/components/schemas/HeadingLink"
        bookmarkId:
          type: string
          description: "The ID of a bookmark in this document. Legacy field: Instead, set includeTabsContent
            to `true` and use Link.bookmark for read and write operations. This field is only
            returned when includeTabsContent is set to `false` in documents containing a single tab
            and links to a bookmark within the singular tab. Otherwise, Link.bookmark is returned.
            If this field is used in a write request, the bookmark is considered to be from the tab
            ID specified in the request. If a tab ID is not specified in the request, it is
            considered to be from the first tab in the document."
        headingId:
          type: string
          description: "The ID of a heading in this document. Legacy field: Instead, set includeTabsContent to
            `true` and use Link.heading for read and write operations. This field is only returned
            when includeTabsContent is set to `false` in documents containing a single tab and links
            to a heading within the singular tab. Otherwise, Link.heading is returned. If this field
            is used in a write request, the heading is considered to be from the tab ID specified in
            the request. If a tab ID is not specified in the request, it is considered to be from
            the first tab in the document."
        tabId:
          type: string
          description: The ID of a tab in this document.
        url:
          description: An external URL.
          type: string
        bookmark:
          description: A bookmark in this document. In documents containing a single tab, links to bookmarks
            within the singular tab continue to return Link.bookmarkId when the includeTabsContent
            parameter is set to `false` or unset. Otherwise, this field is returned.
          $ref: "#/components/schemas/BookmarkLink"
    LinkedContentReference:
      type: object
      description: A reference to the external linked source content.
      properties:
        sheetsChartReference:
          description: A reference to the linked chart.
          $ref: "#/components/schemas/SheetsChartReference"
    LinkedContentReferenceSuggestionState:
      description: A mask that indicates which of the fields on the base LinkedContentReference have been
        changed in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        sheetsChartReferenceSuggestionState:
          description: A mask that indicates which of the fields in sheets_chart_reference have been changed
            in this suggestion.
          $ref: "#/components/schemas/SheetsChartReferenceSuggestionState"
      type: object
    List:
      description: A List represents the list attributes for a group of paragraphs that all belong to the
        same list. A paragraph that's part of a list has a reference to the list's ID in its bullet.
      properties:
        suggestedListPropertiesChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedListProperties"
          description: The suggested changes to the list properties, keyed by suggestion ID.
        suggestedDeletionIds:
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this list.
          type: array
          items:
            type: string
        listProperties:
          description: The properties of the list.
          $ref: "#/components/schemas/ListProperties"
        suggestedInsertionId:
          description: The suggested insertion ID. If empty, then this is not a suggested insertion.
          type: string
      type: object
    ListProperties:
      description: The properties of a list that describe the look and feel of bullets belonging to
        paragraphs associated with a list.
      properties:
        nestingLevels:
          description: Describes the properties of the bullets at the associated level. A list has at most 9
            levels of nesting with nesting level 0 corresponding to the top-most level and nesting
            level 8 corresponding to the most nested level. The nesting levels are returned in
            ascending order with the least nested returned first.
          type: array
          items:
            $ref: "#/components/schemas/NestingLevel"
      type: object
    ListPropertiesSuggestionState:
      description: A mask that indicates which of the fields on the base ListProperties have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        nestingLevelsSuggestionStates:
          items:
            $ref: "#/components/schemas/NestingLevelSuggestionState"
          description: A mask that indicates which of the fields on the corresponding NestingLevel in
            nesting_levels have been changed in this suggestion. The nesting level suggestion states
            are returned in ascending order of the nesting level with the least nested returned
            first.
          type: array
      type: object
    NamedRange:
      description: A collection of Ranges with the same named range ID. Named ranges allow developers to
        associate parts of a document with an arbitrary user-defined label so their contents can be
        programmatically read or edited later. A document can contain multiple named ranges with the
        same name, but every named range has a unique ID. A named range is created with a single
        Range, and content inserted inside a named range generally expands that range. However,
        certain document changes can cause the range to be split into multiple ranges. Named ranges
        are not private. All applications and collaborators that have access to the document can see
        its named ranges.
      properties:
        namedRangeId:
          description: The ID of the named range.
          type: string
        ranges:
          description: The ranges that belong to this named range.
          type: array
          items:
            $ref: "#/components/schemas/Range"
        name:
          type: string
          description: The name of the named range.
      type: object
    NamedRanges:
      type: object
      description: A collection of all the NamedRanges in the document that share a given name.
      properties:
        namedRanges:
          description: The NamedRanges that share the same name.
          type: array
          items:
            $ref: "#/components/schemas/NamedRange"
        name:
          type: string
          description: The name that all the named ranges share.
    NamedStyle:
      description: A named style. Paragraphs in the document can inherit their TextStyle and
        ParagraphStyle from this named style when they have the same named style type.
      properties:
        namedStyleType:
          type: string
          description: The type of this named style.
          enum:
            - NAMED_STYLE_TYPE_UNSPECIFIED
            - NORMAL_TEXT
            - TITLE
            - SUBTITLE
            - HEADING_1
            - HEADING_2
            - HEADING_3
            - HEADING_4
            - HEADING_5
            - HEADING_6
          enumDescriptions:
            - The type of named style is unspecified.
            - Normal text.
            - Title.
            - Subtitle.
            - Heading 1.
            - Heading 2.
            - Heading 3.
            - Heading 4.
            - Heading 5.
            - Heading 6.
        textStyle:
          description: The text style of this named style.
          $ref: "#/components/schemas/TextStyle"
        paragraphStyle:
          description: The paragraph style of this named style.
          $ref: "#/components/schemas/ParagraphStyle"
      type: object
    NamedStyleSuggestionState:
      description: A suggestion state of a NamedStyle message.
      properties:
        textStyleSuggestionState:
          description: A mask that indicates which of the fields in text style have been changed in this
            suggestion.
          $ref: "#/components/schemas/TextStyleSuggestionState"
        namedStyleType:
          enumDescriptions:
            - The type of named style is unspecified.
            - Normal text.
            - Title.
            - Subtitle.
            - Heading 1.
            - Heading 2.
            - Heading 3.
            - Heading 4.
            - Heading 5.
            - Heading 6.
          description: The named style type that this suggestion state corresponds to. This field is provided
            as a convenience for matching the NamedStyleSuggestionState with its corresponding
            NamedStyle.
          enum:
            - NAMED_STYLE_TYPE_UNSPECIFIED
            - NORMAL_TEXT
            - TITLE
            - SUBTITLE
            - HEADING_1
            - HEADING_2
            - HEADING_3
            - HEADING_4
            - HEADING_5
            - HEADING_6
          type: string
        paragraphStyleSuggestionState:
          description: A mask that indicates which of the fields in paragraph style have been changed in this
            suggestion.
          $ref: "#/components/schemas/ParagraphStyleSuggestionState"
      type: object
    NamedStyles:
      description: The named styles. Paragraphs in the document can inherit their TextStyle and
        ParagraphStyle from these named styles.
      properties:
        styles:
          items:
            $ref: "#/components/schemas/NamedStyle"
          type: array
          description: The named styles. There's an entry for each of the possible named style types.
      type: object
    NamedStylesSuggestionState:
      type: object
      description: The suggestion state of a NamedStyles message.
      properties:
        stylesSuggestionStates:
          items:
            $ref: "#/components/schemas/NamedStyleSuggestionState"
          description: A mask that indicates which of the fields on the corresponding NamedStyle in styles
            have been changed in this suggestion. The order of these named style suggestion states
            matches the order of the corresponding named style within the named styles suggestion.
          type: array
    NestingLevel:
      description: Contains properties describing the look and feel of a list bullet at a given level of
        nesting.
      properties:
        bulletAlignment:
          description: The alignment of the bullet within the space allotted for rendering the bullet.
          enum:
            - BULLET_ALIGNMENT_UNSPECIFIED
            - START
            - CENTER
            - END
          type: string
          enumDescriptions:
            - The bullet alignment is unspecified.
            - The bullet is aligned to the start of the space allotted for rendering the bullet.
              Left-aligned for LTR text, right-aligned otherwise.
            - The bullet is aligned to the center of the space allotted for rendering the bullet.
            - The bullet is aligned to the end of the space allotted for rendering the bullet.
              Right-aligned for LTR text, left-aligned otherwise.
        glyphFormat:
          description: The format string used by bullets at this level of nesting. The glyph format contains
            one or more placeholders, and these placeholders are replaced with the appropriate
            values depending on the glyph_type or glyph_symbol. The placeholders follow the pattern
            `%[nesting_level]`. Furthermore, placeholders can have prefixes and suffixes. Thus, the
            glyph format follows the pattern `%[nesting_level]`. Note that the prefix and suffix are
            optional and can be arbitrary strings. For example, the glyph format `%0.` indicates
            that the rendered glyph will replace the placeholder with the corresponding glyph for
            nesting level 0 followed by a period as the suffix. So a list with a glyph type of
            UPPER_ALPHA and glyph format `%0.` at nesting level 0 will result in a list with
            rendered glyphs `A.` `B.` `C.` The glyph format can contain placeholders for the current
            nesting level as well as placeholders for parent nesting levels. For example, a list can
            have a glyph format of `%0.` at nesting level 0 and a glyph format of `%0.%1.` at
            nesting level 1. Assuming both nesting levels have DECIMAL glyph types, this would
            result in a list with rendered glyphs `1.` `2.` ` 2.1.` ` 2.2.` `3.` For nesting levels
            that are ordered, the string that replaces a placeholder in the glyph format for a
            particular paragraph depends on the paragraph's order within the list.
          type: string
        indentStart:
          description: The amount of indentation for paragraphs at this level of nesting. Applied to the side
            that corresponds to the start of the text, based on the paragraph's content direction.
          $ref: "#/components/schemas/Dimension"
        glyphSymbol:
          type: string
          description: A custom glyph symbol used by bullets when paragraphs at this level of nesting is
            unordered. The glyph symbol replaces placeholders within the glyph_format. For example,
            if the glyph_symbol is the solid circle corresponding to Unicode U+25cf code point and
            the glyph_format is `%0`, the rendered glyph would be the solid circle.
        textStyle:
          description: The text style of bullets at this level of nesting.
          $ref: "#/components/schemas/TextStyle"
        startNumber:
          description: The number of the first list item at this nesting level. A value of 0 is treated as a
            value of 1 for lettered lists and Roman numeral lists. For values of both 0 and 1,
            lettered and Roman numeral lists will begin at `a` and `i` respectively. This value is
            ignored for nesting levels with unordered glyphs.
          format: int32
          type: integer
        glyphType:
          description: The type of glyph used by bullets when paragraphs at this level of nesting is ordered.
            The glyph type determines the type of glyph used to replace placeholders within the
            glyph_format when paragraphs at this level of nesting are ordered. For example, if the
            nesting level is 0, the glyph_format is `%0.` and the glyph type is DECIMAL, then the
            rendered glyph would replace the placeholder `%0` in the glyph format with a number
            corresponding to the list item's order within the list.
          enum:
            - GLYPH_TYPE_UNSPECIFIED
            - NONE
            - DECIMAL
            - ZERO_DECIMAL
            - UPPER_ALPHA
            - ALPHA
            - UPPER_ROMAN
            - ROMAN
          type: string
          enumDescriptions:
            - The glyph type is unspecified or unsupported.
            - An empty string.
            - A number, like `1`, `2`, or `3`.
            - A number where single digit numbers are prefixed with a zero, like `01`, `02`, or
              `03`. Numbers with more than one digit are not prefixed with a zero.
            - An uppercase letter, like `A`, `B`, or `C`.
            - A lowercase letter, like `a`, `b`, or `c`.
            - An uppercase Roman numeral, like `I`, `II`, or `III`.
            - A lowercase Roman numeral, like `i`, `ii`, or `iii`.
        indentFirstLine:
          description: The amount of indentation for the first line of paragraphs at this level of nesting.
          $ref: "#/components/schemas/Dimension"
      type: object
    NestingLevelSuggestionState:
      description: A mask that indicates which of the fields on the base NestingLevel have been changed in
        this suggestion. For any field set to true, there's a new suggested value.
      properties:
        glyphFormatSuggested:
          type: boolean
          description: Indicates if there was a suggested change to glyph_format.
        startNumberSuggested:
          type: boolean
          description: Indicates if there was a suggested change to start_number.
        bulletAlignmentSuggested:
          type: boolean
          description: Indicates if there was a suggested change to bullet_alignment.
        glyphSymbolSuggested:
          description: Indicates if there was a suggested change to glyph_symbol.
          type: boolean
        indentStartSuggested:
          type: boolean
          description: Indicates if there was a suggested change to indent_start.
        indentFirstLineSuggested:
          type: boolean
          description: Indicates if there was a suggested change to indent_first_line.
        glyphTypeSuggested:
          type: boolean
          description: Indicates if there was a suggested change to glyph_type.
        textStyleSuggestionState:
          description: A mask that indicates which of the fields in text style have been changed in this
            suggestion.
          $ref: "#/components/schemas/TextStyleSuggestionState"
      type: object
    ObjectReferences:
      description: A collection of object IDs.
      properties:
        objectIds:
          description: The object IDs.
          type: array
          items:
            type: string
      type: object
    OptionalColor:
      description: A color that can either be fully opaque or fully transparent.
      properties:
        color:
          description: If set, this will be used as an opaque color. If unset, this represents a transparent
            color.
          $ref: "#/components/schemas/Color"
      type: object
    PageBreak:
      description: A ParagraphElement representing a page break. A page break makes the subsequent text
        start at the top of the next page.
      properties:
        suggestedTextStyleChanges:
          description: The suggested text style changes to this PageBreak, keyed by suggestion ID.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
        suggestedInsertionIds:
          items:
            type: string
          description: The suggested insertion IDs. A PageBreak may have multiple insertion IDs if it's a
            nested suggested change. If empty, then this is not a suggested insertion.
          type: array
        suggestedDeletionIds:
          items:
            type: string
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
        textStyle:
          description: The text style of this PageBreak. Similar to text content, like text runs and footnote
            references, the text style of a page break can affect content layout as well as the
            styling of text inserted next to it.
          $ref: "#/components/schemas/TextStyle"
      type: object
    Paragraph:
      type: object
      description: A StructuralElement representing a paragraph. A paragraph is a range of content that's
        terminated with a newline character.
      properties:
        elements:
          items:
            $ref: "#/components/schemas/ParagraphElement"
          description: The content of the paragraph, broken down into its component parts.
          type: array
        suggestedBulletChanges:
          description: The suggested changes to this paragraph's bullet.
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedBullet"
        suggestedPositionedObjectIds:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/ObjectReferences"
          description: The IDs of the positioned objects suggested to be attached to this paragraph, keyed by
            suggestion ID.
        suggestedParagraphStyleChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedParagraphStyle"
          description: The suggested paragraph style changes to this paragraph, keyed by suggestion ID.
        bullet:
          description: The bullet for this paragraph. If not present, the paragraph does not belong to a list.
          $ref: "#/components/schemas/Bullet"
        positionedObjectIds:
          description: The IDs of the positioned objects tethered to this paragraph.
          type: array
          items:
            type: string
        paragraphStyle:
          description: The style of this paragraph.
          $ref: "#/components/schemas/ParagraphStyle"
    ParagraphBorder:
      type: object
      description: A border around a paragraph.
      properties:
        color:
          description: The color of the border.
          $ref: "#/components/schemas/OptionalColor"
        padding:
          description: The padding of the border.
          $ref: "#/components/schemas/Dimension"
        width:
          description: The width of the border.
          $ref: "#/components/schemas/Dimension"
        dashStyle:
          type: string
          description: The dash style of the border.
          enum:
            - DASH_STYLE_UNSPECIFIED
            - SOLID
            - DOT
            - DASH
          enumDescriptions:
            - Unspecified dash style.
            - Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'. This is the
              default dash style.
            - Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.
            - Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.
    ParagraphElement:
      type: object
      description: A ParagraphElement describes content within a Paragraph.
      properties:
        startIndex:
          description: The zero-based start index of this paragraph element, in UTF-16 code units.
          format: int32
          type: integer
        pageBreak:
          description: A page break paragraph element.
          $ref: "#/components/schemas/PageBreak"
        horizontalRule:
          description: A horizontal rule paragraph element.
          $ref: "#/components/schemas/HorizontalRule"
        equation:
          description: An equation paragraph element.
          $ref: "#/components/schemas/Equation"
        autoText:
          description: An auto text paragraph element.
          $ref: "#/components/schemas/AutoText"
        richLink:
          description: A paragraph element that links to a Google resource (such as a file in Google Drive, a
            YouTube video, or a Calendar event.)
          $ref: "#/components/schemas/RichLink"
        inlineObjectElement:
          description: An inline object paragraph element.
          $ref: "#/components/schemas/InlineObjectElement"
        columnBreak:
          description: A column break paragraph element.
          $ref: "#/components/schemas/ColumnBreak"
        endIndex:
          description: The zero-base end index of this paragraph element, exclusive, in UTF-16 code units.
          format: int32
          type: integer
        person:
          description: A paragraph element that links to a person or email address.
          $ref: "#/components/schemas/Person"
        textRun:
          description: A text run paragraph element.
          $ref: "#/components/schemas/TextRun"
        dateElement:
          description: A paragraph element that represents a date.
          $ref: "#/components/schemas/DateElement"
        footnoteReference:
          description: A footnote reference paragraph element.
          $ref: "#/components/schemas/FootnoteReference"
    ParagraphStyle:
      type: object
      description: "Styles that apply to a whole paragraph. Inherited paragraph styles are represented as
        unset fields in this message. A paragraph style's parent depends on where the paragraph
        style is defined: * The ParagraphStyle on a Paragraph inherits from the paragraph's
        corresponding named style type. * The ParagraphStyle on a named style inherits from the
        normal text named style. * The ParagraphStyle of the normal text named style inherits from
        the default paragraph style in the Docs editor. * The ParagraphStyle on a Paragraph element
        that's contained in a table may inherit its paragraph style from the table style. If the
        paragraph style does not inherit from a parent, unsetting fields will revert the style to a
        value matching the defaults in the Docs editor."
      properties:
        indentStart:
          description: The amount of indentation for the paragraph on the side that corresponds to the start
            of the text, based on the current paragraph direction. If unset, the value is inherited
            from the parent.
          $ref: "#/components/schemas/Dimension"
        tabStops:
          type: array
          description: A list of the tab stops for this paragraph. The list of tab stops is not inherited.
            This property is read-only.
          items:
            $ref: "#/components/schemas/TabStop"
        borderRight:
          description: The border to the right of this paragraph. If unset, the value is inherited from the
            parent. Paragraph borders cannot be partially updated. When changing a paragraph border,
            the new border must be specified in its entirety.
          $ref: "#/components/schemas/ParagraphBorder"
        headingId:
          description: The heading ID of the paragraph. If empty, then this paragraph is not a heading. This
            property is read-only.
          type: string
        namedStyleType:
          description: The named style type of the paragraph. Since updating the named style type affects
            other properties within ParagraphStyle, the named style type is applied before the other
            properties are updated.
          enum:
            - NAMED_STYLE_TYPE_UNSPECIFIED
            - NORMAL_TEXT
            - TITLE
            - SUBTITLE
            - HEADING_1
            - HEADING_2
            - HEADING_3
            - HEADING_4
            - HEADING_5
            - HEADING_6
          type: string
          enumDescriptions:
            - The type of named style is unspecified.
            - Normal text.
            - Title.
            - Subtitle.
            - Heading 1.
            - Heading 2.
            - Heading 3.
            - Heading 4.
            - Heading 5.
            - Heading 6.
        spacingMode:
          enumDescriptions:
            - The spacing mode is inherited from the parent.
            - Paragraph spacing is always rendered.
            - Paragraph spacing is skipped between list elements.
          type: string
          description: The spacing mode for the paragraph.
          enum:
            - SPACING_MODE_UNSPECIFIED
            - NEVER_COLLAPSE
            - COLLAPSE_LISTS
        alignment:
          description: The text alignment for this paragraph.
          enum:
            - ALIGNMENT_UNSPECIFIED
            - START
            - CENTER
            - END
            - JUSTIFIED
          type: string
          enumDescriptions:
            - The paragraph alignment is inherited from the parent.
            - The paragraph is aligned to the start of the line. Left-aligned for LTR text,
              right-aligned otherwise.
            - The paragraph is centered.
            - The paragraph is aligned to the end of the line. Right-aligned for LTR text,
              left-aligned otherwise.
            - The paragraph is justified.
        lineSpacing:
          type: number
          description: The amount of space between lines, as a percentage of normal, where normal is
            represented as 100.0. If unset, the value is inherited from the parent.
          format: float
        keepWithNext:
          type: boolean
          description: Whether at least a part of this paragraph should be laid out on the same page or column
            as the next paragraph if possible. If unset, the value is inherited from the parent.
        keepLinesTogether:
          description: Whether all lines of the paragraph should be laid out on the same page or column if
            possible. If unset, the value is inherited from the parent.
          type: boolean
        borderBottom:
          description: The border at the bottom of this paragraph. If unset, the value is inherited from the
            parent. The bottom border is rendered when the paragraph below has different border and
            indent properties. Paragraph borders cannot be partially updated. When changing a
            paragraph border, the new border must be specified in its entirety.
          $ref: "#/components/schemas/ParagraphBorder"
        borderTop:
          description: The border at the top of this paragraph. If unset, the value is inherited from the
            parent. The top border is rendered when the paragraph above has different border and
            indent properties. Paragraph borders cannot be partially updated. When changing a
            paragraph border, the new border must be specified in its entirety.
          $ref: "#/components/schemas/ParagraphBorder"
        indentEnd:
          description: The amount of indentation for the paragraph on the side that corresponds to the end of
            the text, based on the current paragraph direction. If unset, the value is inherited
            from the parent.
          $ref: "#/components/schemas/Dimension"
        avoidWidowAndOrphan:
          type: boolean
          description: Whether to avoid widows and orphans for the paragraph. If unset, the value is inherited
            from the parent.
        spaceAbove:
          description: The amount of extra space above the paragraph. If unset, the value is inherited from
            the parent.
          $ref: "#/components/schemas/Dimension"
        spaceBelow:
          description: The amount of extra space below the paragraph. If unset, the value is inherited from
            the parent.
          $ref: "#/components/schemas/Dimension"
        direction:
          enumDescriptions:
            - The content direction is unspecified.
            - The content goes from left to right.
            - The content goes from right to left.
          description: The text direction of this paragraph. If unset, the value defaults to LEFT_TO_RIGHT
            since paragraph direction is not inherited.
          enum:
            - CONTENT_DIRECTION_UNSPECIFIED
            - LEFT_TO_RIGHT
            - RIGHT_TO_LEFT
          type: string
        borderBetween:
          description: The border between this paragraph and the next and previous paragraphs. If unset, the
            value is inherited from the parent. The between border is rendered when the adjacent
            paragraph has the same border and indent properties. Paragraph borders cannot be
            partially updated. When changing a paragraph border, the new border must be specified in
            its entirety.
          $ref: "#/components/schemas/ParagraphBorder"
        indentFirstLine:
          description: The amount of indentation for the first line of the paragraph. If unset, the value is
            inherited from the parent.
          $ref: "#/components/schemas/Dimension"
        shading:
          description: The shading of the paragraph. If unset, the value is inherited from the parent.
          $ref: "#/components/schemas/Shading"
        borderLeft:
          description: The border to the left of this paragraph. If unset, the value is inherited from the
            parent. Paragraph borders cannot be partially updated. When changing a paragraph border,
            the new border must be specified in its entirety.
          $ref: "#/components/schemas/ParagraphBorder"
        pageBreakBefore:
          description: Whether the current paragraph should always start at the beginning of a page. If unset,
            the value is inherited from the parent. Attempting to update page_break_before for
            paragraphs in unsupported regions, including Table, Header, Footer and Footnote, can
            result in an invalid document state that returns a 400 bad request error.
          type: boolean
    ParagraphStyleSuggestionState:
      type: object
      description: A mask that indicates which of the fields on the base ParagraphStyle have been changed
        in this suggestion. For any field set to true, there's a new suggested value.
      properties:
        borderRightSuggested:
          type: boolean
          description: Indicates if there was a suggested change to border_right.
        borderBetweenSuggested:
          type: boolean
          description: Indicates if there was a suggested change to border_between.
        indentStartSuggested:
          description: Indicates if there was a suggested change to indent_start.
          type: boolean
        pageBreakBeforeSuggested:
          description: Indicates if there was a suggested change to page_break_before.
          type: boolean
        spaceAboveSuggested:
          type: boolean
          description: Indicates if there was a suggested change to space_above.
        avoidWidowAndOrphanSuggested:
          description: Indicates if there was a suggested change to avoid_widow_and_orphan.
          type: boolean
        keepWithNextSuggested:
          type: boolean
          description: Indicates if there was a suggested change to keep_with_next.
        lineSpacingSuggested:
          description: Indicates if there was a suggested change to line_spacing.
          type: boolean
        borderBottomSuggested:
          type: boolean
          description: Indicates if there was a suggested change to border_bottom.
        shadingSuggestionState:
          description: A mask that indicates which of the fields in shading have been changed in this
            suggestion.
          $ref: "#/components/schemas/ShadingSuggestionState"
        spaceBelowSuggested:
          type: boolean
          description: Indicates if there was a suggested change to space_below.
        namedStyleTypeSuggested:
          description: Indicates if there was a suggested change to named_style_type.
          type: boolean
        directionSuggested:
          type: boolean
          description: Indicates if there was a suggested change to direction.
        keepLinesTogetherSuggested:
          type: boolean
          description: Indicates if there was a suggested change to keep_lines_together.
        borderTopSuggested:
          type: boolean
          description: Indicates if there was a suggested change to border_top.
        borderLeftSuggested:
          type: boolean
          description: Indicates if there was a suggested change to border_left.
        headingIdSuggested:
          type: boolean
          description: Indicates if there was a suggested change to heading_id.
        alignmentSuggested:
          description: Indicates if there was a suggested change to alignment.
          type: boolean
        spacingModeSuggested:
          type: boolean
          description: Indicates if there was a suggested change to spacing_mode.
        indentFirstLineSuggested:
          type: boolean
          description: Indicates if there was a suggested change to indent_first_line.
        indentEndSuggested:
          type: boolean
          description: Indicates if there was a suggested change to indent_end.
    Person:
      description: A person or email address mentioned in a document. These mentions behave as a single,
        immutable element containing the person's name or email address.
      properties:
        suggestedTextStyleChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedTextStyle"
          description: The suggested text style changes to this Person, keyed by suggestion ID.
        personProperties:
          description: Output only. The properties of this Person. This field is always present.
          $ref: "#/components/schemas/PersonProperties"
        personId:
          description: Output only. The unique ID of this link.
          type: string
        textStyle:
          description: The text style of this Person.
          $ref: "#/components/schemas/TextStyle"
        suggestedInsertionIds:
          description: IDs for suggestions that insert this person link into the document. A Person might have
            multiple insertion IDs if it's a nested suggested change (a suggestion within a
            suggestion made by a different user, for example). If empty, then this person link isn't
            a suggested insertion.
          type: array
          items:
            type: string
        suggestedDeletionIds:
          items:
            type: string
          type: array
          description: IDs for suggestions that remove this person link from the document. A Person might have
            multiple deletion IDs if, for example, multiple users suggest deleting it. If empty,
            then this person link isn't suggested for deletion.
      type: object
    PersonProperties:
      description: Properties specific to a linked Person.
      properties:
        email:
          type: string
          description: The email address linked to this Person. This field is always present.
        name:
          description: The name of the person if it's displayed in the link text instead of the person's email
            address.
          type: string
      type: object
    PositionedObject:
      description: An object that's tethered to a Paragraph and positioned relative to the beginning of
        the paragraph. A PositionedObject contains an EmbeddedObject such as an image.
      properties:
        positionedObjectProperties:
          description: The properties of this positioned object.
          $ref: "#/components/schemas/PositionedObjectProperties"
        suggestedInsertionId:
          type: string
          description: The suggested insertion ID. If empty, then this is not a suggested insertion.
        objectId:
          type: string
          description: The ID of this positioned object.
        suggestedPositionedObjectPropertiesChanges:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/SuggestedPositionedObjectProperties"
          description: The suggested changes to the positioned object properties, keyed by suggestion ID.
        suggestedDeletionIds:
          type: array
          description: The suggested deletion IDs. If empty, then there are no suggested deletions of this
            content.
          items:
            type: string
      type: object
    PositionedObjectPositioning:
      description: The positioning of a PositionedObject. The positioned object is positioned relative to
        the beginning of the Paragraph it's tethered to.
      properties:
        leftOffset:
          description: The offset of the left edge of the positioned object relative to the beginning of the
            Paragraph it's tethered to. The exact positioning of the object can depend on other
            content in the document and the document's styling.
          $ref: "#/components/schemas/Dimension"
        layout:
          enumDescriptions:
            - The layout is unspecified.
            - The text wraps around the positioned object.
            - Breaks text such that the positioned object is on the left and text is on the right.
            - Breaks text such that the positioned object is on the right and text is on the left.
[...]
