openapi: 3.0.3
info:
  title: Gmail API — narrowed for the gmail adapter
  version: v1
  description: Tree-shaken to the 21 reviewed gmail adapter operations. Generated from
    the Gmail discovery document — do not edit by hand.
servers:
  - url: https://gmail.googleapis.com
paths:
  /gmail/v1/users/{userId}/drafts:
    post:
      operationId: gmail.users.drafts.create
      description: Creates a draft with the `DRAFT` label. For more information, see [Create and send
        draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Draft"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.drafts.create
    get:
      operationId: gmail.users.drafts.list
      description: Lists the drafts in the user's mailbox. For more information, see [Create and send
        draft emails](https://developers.google.com/workspace/gmail/api/guides/drafts).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
        - name: q
          in: query
          required: false
          description: 'Only return draft messages matching the specified query. Supports the same query
            format as the Gmail search box. For example, `"from:someuser@example.com rfc822msgid:
            is:unread"`.'
          schema:
            description: 'Only return draft messages matching the specified query. Supports the same query
              format as the Gmail search box. For example, `"from:someuser@example.com rfc822msgid:
              is:unread"`.'
            type: string
        - name: includeSpamTrash
          in: query
          required: false
          description: Include drafts from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
            description: Include drafts from `SPAM` and `TRASH` in the results.
        - name: pageToken
          in: query
          required: false
          description: Page token to retrieve a specific page of results in the list.
          schema:
            type: string
            description: Page token to retrieve a specific page of results in the list.
        - name: maxResults
          in: query
          required: false
          description: Maximum number of drafts to return. This field defaults to 100. The maximum allowed
            value for this field is 500.
          schema:
            format: uint32
            default: "100"
            type: integer
            description: Maximum number of drafts to return. This field defaults to 100. The maximum allowed
              value for this field is 500.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDraftsResponse"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.drafts.list
  /gmail/v1/users/{userId}/drafts/{id}:
    get:
      operationId: gmail.users.drafts.get
      description: Gets the specified draft. For more information, see [Create and send draft
        emails](https://developers.google.com/workspace/gmail/api/guides/drafts).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
        - name: format
          in: query
          required: false
          description: The format to return the draft in.
          schema:
            enumDescriptions:
              - Returns only email message ID and labels; does not return the email headers, body,
                or payload.
              - Returns the full email message data with body content parsed in the `payload` field;
                the `raw` field is not used. Format cannot be used when accessing the api using the
                gmail.metadata scope.
              - Returns the full email message data with body content in the `raw` field as a
                base64url encoded string; the `payload` field is not used. Format cannot be used
                when accessing the api using the gmail.metadata scope.
              - Returns only email message ID, labels, and email headers.
            type: string
            description: The format to return the draft in.
            enum:
              - minimal
              - full
              - raw
              - metadata
            default: full
        - name: id
          in: path
          required: true
          description: The ID of the draft to retrieve.
          schema:
            description: The ID of the draft to retrieve.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.drafts.get
    put:
      operationId: gmail.users.drafts.update
      description: Replaces a draft's content. For more information, see [Create and send draft
        emails](https://developers.google.com/workspace/gmail/api/guides/drafts).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
        - name: id
          in: path
          required: true
          description: The ID of the draft to update.
          schema:
            type: string
            description: The ID of the draft to update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Draft"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Draft"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.action.compose
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.drafts.update
  /gmail/v1/users/{userId}/history:
    get:
      operationId: gmail.users.history.list
      description: Lists the history of all changes to the given mailbox. History results are returned in
        chronological order (increasing `historyId`). For more information, see [Synchronize clients
        with Gmail](https://developers.google.com/workspace/gmail/api/guides/sync).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
        - name: historyTypes
          in: query
          required: false
          description: History types to be returned by the function
          schema:
            type: array
            items:
              enum:
                - messageAdded
                - messageDeleted
                - labelAdded
                - labelRemoved
              description: History types to be returned by the function
              enumDescriptions:
                - ""
                - ""
                - ""
                - ""
              type: string
        - name: startHistoryId
          in: query
          required: false
          description: Required. Returns history records after the specified `startHistoryId`. The supplied
            `startHistoryId` should be obtained from the `historyId` of a message, thread, or
            previous `list` response. History IDs increase chronologically but are not contiguous
            with random gaps in between valid IDs. Supplying an invalid or out of date
            `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is typically
            valid for at least a week, but in some rare circumstances may be valid for only a few
            hours. If you receive an `HTTP 404` error response, your application should perform a
            full sync. If you receive no `nextPageToken` in the response, there are no updates to
            retrieve and you can store the returned `historyId` for a future request.
          schema:
            format: uint64
            type: string
            description: Required. Returns history records after the specified `startHistoryId`. The supplied
              `startHistoryId` should be obtained from the `historyId` of a message, thread, or
              previous `list` response. History IDs increase chronologically but are not contiguous
              with random gaps in between valid IDs. Supplying an invalid or out of date
              `startHistoryId` typically returns an `HTTP 404` error code. A `historyId` is
              typically valid for at least a week, but in some rare circumstances may be valid for
              only a few hours. If you receive an `HTTP 404` error response, your application should
              perform a full sync. If you receive no `nextPageToken` in the response, there are no
              updates to retrieve and you can store the returned `historyId` for a future request.
        - name: pageToken
          in: query
          required: false
          description: Page token to retrieve a specific page of results in the list.
          schema:
            description: Page token to retrieve a specific page of results in the list.
            type: string
        - name: labelId
          in: query
          required: false
          description: Only return messages with a label matching the ID.
          schema:
            description: Only return messages with a label matching the ID.
            type: string
        - name: maxResults
          in: query
          required: false
          description: Maximum number of history records to return. This field defaults to 100. The maximum
            allowed value for this field is 500.
          schema:
            format: uint32
            default: "100"
            type: integer
            description: Maximum number of history records to return. This field defaults to 100. The maximum
              allowed value for this field is 500.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListHistoryResponse"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.history.list
  /gmail/v1/users/{userId}/labels:
    get:
      operationId: gmail.users.labels.list
      description: Lists all labels in the user's mailbox. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLabelsResponse"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.labels.list
    post:
      operationId: gmail.users.labels.create
      description: Creates a label. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.labels.create
  /gmail/v1/users/{userId}/labels/{id}:
    delete:
      operationId: gmail.users.labels.delete
      description: Immediately and permanently deletes the specified label and removes it from any
        messages and threads that it's applied to. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            default: me
        - name: id
          in: path
          required: true
          description: The ID of the label to delete.
          schema:
            description: The ID of the label to delete.
            type: string
      responses:
        "200":
          description: OK
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.labels.delete
    put:
      operationId: gmail.users.labels.update
      description: Updates the specified label. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the label to update.
          schema:
            description: The ID of the label to update.
            type: string
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
            default: me
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.labels.update
    get:
      operationId: gmail.users.labels.get
      description: Gets the specified label. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
        - name: id
          in: path
          required: true
          description: The ID of the label to retrieve.
          schema:
            type: string
            description: The ID of the label to retrieve.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.labels.get
    patch:
      operationId: gmail.users.labels.patch
      description: Patch the specified label. For more information, see [Manage
        labels](https://developers.google.com/workspace/gmail/api/guides/labels).
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the label to update.
          schema:
            type: string
            description: The ID of the label to update.
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Label"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Label"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.labels
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.labels.patch
  /gmail/v1/users/{userId}/messages:
    get:
      operationId: gmail.users.messages.list
      description: Lists the messages in the user's mailbox. For more information, see [List Gmail
        messages](https://developers.google.com/workspace/gmail/api/guides/list-messages).
      parameters:
        - name: includeSpamTrash
          in: query
          required: false
          description: Include messages from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
            description: Include messages from `SPAM` and `TRASH` in the results.
        - name: pageToken
          in: query
          required: false
          description: Page token to retrieve a specific page of results in the list.
          schema:
            description: Page token to retrieve a specific page of results in the list.
            type: string
        - name: maxResults
          in: query
          required: false
          description: Maximum number of messages to return. This field defaults to 100. The maximum allowed
            value for this field is 500.
          schema:
            format: uint32
            default: "100"
            type: integer
            description: Maximum number of messages to return. This field defaults to 100. The maximum allowed
              value for this field is 500.
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
            default: me
        - name: labelIds
          in: query
          required: false
          description: Only return messages with labels that match all of the specified label IDs. Messages in
            a thread might have labels that other messages in the same thread don't have. To learn
            more, see [Manage labels on messages and
            threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).
          schema:
            type: array
            items:
              description: Only return messages with labels that match all of the specified label IDs. Messages in
                a thread might have labels that other messages in the same thread don't have. To
                learn more, see [Manage labels on messages and
                threads](https://developers.google.com/workspace/gmail/api/guides/labels#manage_labels_on_messages_threads).
              type: string
        - name: q
          in: query
          required: false
          description: 'Only return messages matching the specified query. Supports the same query format as
            the Gmail search box. For example, `"from:someuser@example.com rfc822msgid: is:unread"`.
            Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          schema:
            type: string
            description: 'Only return messages matching the specified query. Supports the same query format as
              the Gmail search box. For example, `"from:someuser@example.com rfc822msgid:
              is:unread"`. Parameter cannot be used when accessing the api using the gmail.metadata
              scope.'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMessagesResponse"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.messages.list
  /gmail/v1/users/{userId}/messages/{id}:
    get:
      operationId: gmail.users.messages.get
      description: Gets the specified message.
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the message to retrieve. This ID is usually retrieved using `messages.list`.
            The ID is also contained in the result when a message is inserted (`messages.insert`) or
            imported (`messages.import`).
          schema:
            type: string
            description: The ID of the message to retrieve. This ID is usually retrieved using `messages.list`.
              The ID is also contained in the result when a message is inserted (`messages.insert`)
              or imported (`messages.import`).
        - name: format
          in: query
          required: false
          description: The format to return the message in.
          schema:
            enumDescriptions:
              - Returns only email message ID and labels; does not return the email headers, body,
                or payload.
              - Returns the full email message data with body content parsed in the `payload` field;
                the `raw` field is not used. Format cannot be used when accessing the api using the
                gmail.metadata scope.
              - Returns the full email message data with body content in the `raw` field as a
                base64url encoded string; the `payload` field is not used. Format cannot be used
                when accessing the api using the gmail.metadata scope.
              - Returns only email message ID, labels, and email headers.
            type: string
            description: The format to return the message in.
            enum:
              - minimal
              - full
              - raw
              - metadata
            default: full
        - name: metadataHeaders
          in: query
          required: false
          description: When given and format is `METADATA`, only include headers specified.
          schema:
            type: array
            items:
              type: string
              description: When given and format is `METADATA`, only include headers specified.
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.messages.get
  /gmail/v1/users/{userId}/messages/{id}/modify:
    post:
      operationId: gmail.users.messages.modify
      description: Modifies the labels and the Classification Label values on the specified message. For
        administrators modifying message for users in their organization, requests require
        authorization with a [service
        account](https://developers.google.com/identity/protocols/OAuth2ServiceAccount) that has
        [domain-wide delegation
        authority](https://developers.google.com/identity/protocols/OAuth2ServiceAccount#delegatingauthority)
        to impersonate users with the `https://www.googleapis.com/auth/gmail.modify.restricted`
        scope.
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
        - name: id
          in: path
          required: true
          description: The ID of the message to modify.
          schema:
            type: string
            description: The ID of the message to modify.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyMessageRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.messages.modify
  /gmail/v1/users/{userId}/messages/{messageId}/attachments/{id}:
    get:
      operationId: gmail.users.messages.attachments.get
      description: Gets the specified message attachment.
      parameters:
        - name: messageId
          in: path
          required: true
          description: The ID of the message containing the attachment.
          schema:
            type: string
            description: The ID of the message containing the attachment.
        - name: id
          in: path
          required: true
          description: The ID of the attachment.
          schema:
            description: The ID of the attachment.
            type: string
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MessagePartBody"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.messages.attachments.get
  /gmail/v1/users/{userId}/profile:
    get:
      operationId: gmail.users.getProfile
      description: Gets the current user's Gmail profile.
      parameters:
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Profile"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.compose
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.getProfile
  /gmail/v1/users/{userId}/settings/autoForwarding:
    get:
      operationId: gmail.users.settings.getAutoForwarding
      description: Gets the auto-forwarding setting for the specified account. For more information, see
        [Manage email
        forwarding](https://developers.google.com/workspace/gmail/api/guides/forwarding_settings).
      parameters:
        - name: userId
          in: path
          required: true
          description: User's email address. The special value "me" can be used to indicate the authenticated
            user.
          schema:
            default: me
            type: string
            description: User's email address. The special value "me" can be used to indicate the authenticated
              user.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutoForwarding"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
      x-executor-toolPath: gmail.users.settings.getAutoForwarding
  /gmail/v1/users/{userId}/settings/vacation:
    get:
      operationId: gmail.users.settings.getVacation
      description: Gets vacation responder settings. For more information, see [Manage vacation settings
        with the Gmail
        API](https://developers.google.com/workspace/gmail/api/guides/vacation_settings).
      parameters:
        - name: userId
          in: path
          required: true
          description: User's email address. The special value "me" can be used to indicate the authenticated
            user.
          schema:
            default: me
            description: User's email address. The special value "me" can be used to indicate the authenticated
              user.
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VacationSettings"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
            - https://www.googleapis.com/auth/gmail.settings.basic
      x-executor-toolPath: gmail.users.settings.getVacation
  /gmail/v1/users/{userId}/threads:
    get:
      operationId: gmail.users.threads.list
      description: Lists the threads in the user's mailbox. For more information, see [Manage
        threads](https://developers.google.com/workspace/gmail/api/guides/threads).
      parameters:
        - name: includeSpamTrash
          in: query
          required: false
          description: Include threads from `SPAM` and `TRASH` in the results.
          schema:
            type: boolean
            default: "false"
            description: Include threads from `SPAM` and `TRASH` in the results.
        - name: pageToken
          in: query
          required: false
          description: Page token to retrieve a specific page of results in the list.
          schema:
            description: Page token to retrieve a specific page of results in the list.
            type: string
        - name: maxResults
          in: query
          required: false
          description: Maximum number of threads to return. This field defaults to 100. The maximum allowed
            value for this field is 500.
          schema:
            format: uint32
            default: "100"
            type: integer
            description: Maximum number of threads to return. This field defaults to 100. The maximum allowed
              value for this field is 500.
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
            default: me
        - name: labelIds
          in: query
          required: false
          description: Only return threads with labels that match all of the specified label IDs.
          schema:
            type: array
            items:
              description: Only return threads with labels that match all of the specified label IDs.
              type: string
        - name: q
          in: query
          required: false
          description: 'Only return threads matching the specified query. Supports the same query format as
            the Gmail search box. For example, `"from:someuser@example.com rfc822msgid: is:unread"`.
            Parameter cannot be used when accessing the api using the gmail.metadata scope.'
          schema:
            type: string
            description: 'Only return threads matching the specified query. Supports the same query format as
              the Gmail search box. For example, `"from:someuser@example.com rfc822msgid:
              is:unread"`. Parameter cannot be used when accessing the api using the gmail.metadata
              scope.'
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListThreadsResponse"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.threads.list
  /gmail/v1/users/{userId}/threads/{id}:
    get:
      operationId: gmail.users.threads.get
      description: Gets the specified thread. For more information, see [Manage
        threads](https://developers.google.com/workspace/gmail/api/guides/threads).
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the thread to retrieve.
          schema:
            description: The ID of the thread to retrieve.
            type: string
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
        - name: format
          in: query
          required: false
          description: The format to return the messages in.
          schema:
            description: The format to return the messages in.
            type: string
            enumDescriptions:
              - Returns the full email message data with body content parsed in the `payload` field;
                the `raw` field is not used. Format cannot be used when accessing the api using the
                gmail.metadata scope.
              - Returns only email message IDs, labels, and email headers.
              - Returns only email message IDs and labels; does not return the email headers, body,
                or payload.
            default: full
            enum:
              - full
              - metadata
              - minimal
        - name: metadataHeaders
          in: query
          required: false
          description: When given and format is METADATA, only include headers specified.
          schema:
            type: array
            items:
              type: string
              description: When given and format is METADATA, only include headers specified.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.addons.current.message.action
            - https://www.googleapis.com/auth/gmail.addons.current.message.metadata
            - https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            - https://www.googleapis.com/auth/gmail.metadata
            - https://www.googleapis.com/auth/gmail.modify
            - https://www.googleapis.com/auth/gmail.readonly
      x-executor-toolPath: gmail.users.threads.get
  /gmail/v1/users/{userId}/threads/{id}/modify:
    post:
      operationId: gmail.users.threads.modify
      description: Modifies the labels applied to the thread. This applies to all messages in the thread.
        For more information, see [Manage
        threads](https://developers.google.com/workspace/gmail/api/guides/threads).
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the thread to modify.
          schema:
            type: string
            description: The ID of the thread to modify.
        - name: userId
          in: path
          required: true
          description: The user's email address. The special value `me` can be used to indicate the
            authenticated user.
          schema:
            default: me
            type: string
            description: The user's email address. The special value `me` can be used to indicate the
              authenticated user.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ModifyThreadRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Thread"
      security:
        - oauth2:
            - https://mail.google.com/
            - https://www.googleapis.com/auth/gmail.modify
      x-executor-toolPath: gmail.users.threads.modify
components:
  schemas:
    AutoForwarding:
      description: Auto-forwarding settings for an account.
      type: object
      properties:
        disposition:
          enumDescriptions:
            - Unspecified disposition.
            - Leave the message in the `INBOX`.
            - Archive the message.
            - Move the message to the `TRASH`.
            - Leave the message in the `INBOX` and mark it as read.
          type: string
          description: The state that a message should be left in after it has been forwarded.
          enum:
            - dispositionUnspecified
            - leaveInInbox
            - archive
            - trash
            - markRead
        emailAddress:
          description: Email address to which all incoming messages are forwarded. This email address must be
            a verified member of the forwarding addresses.
          type: string
        enabled:
          description: Whether all incoming mail is automatically forwarded to another address.
          type: boolean
    ClassificationLabelFieldValue:
      type: object
      properties:
        fieldId:
          description: Required. The field ID for the Classification Label Value. Maps to the ID field of the
            Google Drive `Label.Field` object.
          type: string
        selection:
          description: Selection choice ID for the selection option. Should only be set if the field type is
            `SELECTION` in the Google Drive `Label.Field` object. Maps to the id field of the Google
            Drive `Label.Field.SelectionOptions` resource.
          type: string
      description: Field values for a classification label.
    ClassificationLabelValue:
      description: Classification Labels applied to the email message. Classification Labels are different
        from Gmail inbox labels. Only used for Google Workspace accounts. [Learn more about
        classification labels](https://support.google.com/a/answer/9292382).
      type: object
      properties:
        labelId:
          type: string
          description: Required. The canonical or raw alphanumeric classification label ID. Maps to the ID
            field of the Google Drive Label resource.
        fields:
          type: array
          items:
            $ref: "#/components/schemas/ClassificationLabelFieldValue"
          description: Field values for the given classification label ID.
    Draft:
      description: A draft email in the user's mailbox.
      properties:
        message:
          $ref: "#/components/schemas/Message"
          description: The message content of the draft.
      type: object
    History:
      type: object
      properties:
        messagesDeleted:
          type: array
          items:
            $ref: "#/components/schemas/HistoryMessageDeleted"
          description: Messages deleted (not Trashed) from the mailbox in this history record.
        labelsAdded:
          description: Labels added to messages in this history record.
          type: array
          items:
            $ref: "#/components/schemas/HistoryLabelAdded"
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
          description: List of messages changed in this history record. The fields for specific change types,
            such as `messagesAdded` may duplicate messages in this field. We recommend using the
            specific change-type fields instead of this.
        labelsRemoved:
          type: array
          items:
            $ref: "#/components/schemas/HistoryLabelRemoved"
          description: Labels removed from messages in this history record.
        messagesAdded:
          type: array
          items:
            $ref: "#/components/schemas/HistoryMessageAdded"
          description: Messages added to the mailbox in this history record.
      description: A record of a change to the user's mailbox. Each history change may affect multiple
        messages in multiple ways.
    HistoryLabelAdded:
      properties:
        labelIds:
          description: Label IDs added to the message.
          type: array
          items:
            type: string
        message:
          $ref: "#/components/schemas/Message"
      type: object
    HistoryLabelRemoved:
      type: object
      properties:
        labelIds:
          description: Label IDs removed from the message.
          type: array
          items:
            type: string
        message:
          $ref: "#/components/schemas/Message"
    HistoryMessageAdded:
      properties:
        message:
          $ref: "#/components/schemas/Message"
      type: object
    HistoryMessageDeleted:
      type: object
      properties:
        message:
          $ref: "#/components/schemas/Message"
    Label:
      properties:
        labelListVisibility:
          enumDescriptions:
            - Show the label in the label list.
            - Show the label if there are any unread messages with that label.
            - Do not show the label in the label list.
          type: string
          description: The visibility of the label in the label list in the Gmail web interface.
          enum:
            - labelShow
            - labelShowIfUnread
            - labelHide
        messagesUnread:
          format: int32
          type: integer
          description: The number of unread messages with the label.
        threadsTotal:
          type: integer
          format: int32
          description: The total number of threads with the label.
        messagesTotal:
          description: The total number of messages with the label.
          type: integer
          format: int32
        threadsUnread:
          type: integer
          format: int32
          description: The number of unread threads with the label.
        color:
          $ref: "#/components/schemas/LabelColor"
          description: The color to assign to the label. Color is only available for labels that have their
            `type` set to `user`.
        messageListVisibility:
          enum:
            - show
            - hide
          description: The visibility of messages with this label in the message list in the Gmail web
            interface.
          enumDescriptions:
            - Show the label in the message list.
            - Do not show the label in the message list.
          type: string
        name:
          type: string
          description: The display name of the label.
        type:
          description: The owner type for the label. User labels are created by the user and can be modified
            and deleted by the user and can be applied to any message or thread. System labels are
            internally created and cannot be added, modified, or deleted. System labels may be able
            to be applied to or removed from messages and threads under some circumstances but this
            is not guaranteed. For example, users can apply and remove the `INBOX` and `UNREAD`
            labels from messages and threads, but cannot apply or remove the `DRAFTS` or `SENT`
            labels from messages or threads.
          enum:
            - system
            - user
          type: string
          enumDescriptions:
            - Labels created by Gmail.
            - Custom labels created by the user or application.
      type: object
      description: Labels are used to categorize messages and threads within the user's mailbox. The
        maximum number of labels supported for a user's mailbox is 10,000.
    LabelColor:
      type: object
      properties:
        textColor:
          description: "The text color of the label, represented as hex string. This field is required in
            order to set the color of a label. Only the following predefined set of color values are
            allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff,
            \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, \\#f6c5be,
            #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, \\#efa093, #ffd6a2,
            #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550, #ffbc6b, #fcda83,
            #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041, #f2c960, #149e60,
            #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68,
            #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587,
            #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44, #98d7e4, #3d188e,
            #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af, #7a4706, #ffdeb5,
            \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e, #a2dcc1, \\#c2c2c2,
            #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46, \\#662e37, #ebdbde,
            #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286, #7858c3, #c2185b,
            #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
          type: string
        backgroundColor:
          type: string
          description: "The background color represented as hex string #RRGGBB (ex #000000). This field is
            required in order to set the color of a label. Only the following predefined set of
            color values are allowed: \\#000000, #434343, #666666, #999999, #cccccc, #efefef,
            #f3f3f3, #ffffff, \\#fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2,
            #f691b3, \\#f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8,
            \\#efa093, #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, \\#e66550,
            #ffbc6b, #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, \\#cc3a21, #eaa041,
            #f2c960, #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, \\#ac2b16, #cf8933, #d5ae49,
            #0b804b, #2a9c68, #285bac, #653e9b, #b65775, \\#822111, #a46a21, #aa8831, #076239,
            #1a764d, #1c4587, #41236d, #83334c, \\#464646, #e7e7e7, #0d3472, #b6cff5, #0d3b44,
            #98d7e4, #3d188e, #e3d7ff, \\#711a36, #fbd3e0, #8a1c0a, #f2b2a8, #7a2e0b, #ffc8af,
            #7a4706, #ffdeb5, \\#594c05, #fbe983, #684e07, #fdedc1, #0b4f30, #b3efd3, #04502e,
            #a2dcc1, \\#c2c2c2, #4986e7, #2da2bb, #b99aff, #994a64, #f691b2, #ff7537, #ffad46,
            \\#662e37, #ebdbde, #cca6ac, #094228, #42d692, #16a765, #757575, #1e53b8, \\#007286,
            #7858c3, #c2185b, #d93025, #54240e, #633e04, #521d28, #202124, \\#083018"
    ListDraftsResponse:
      type: object
      properties:
        drafts:
          type: array
          items:
            $ref: "#/components/schemas/Draft"
          description: List of drafts. Note that the `Message` property in each `Draft` resource only contains
            an `id` and a `threadId`. The
            [`messages.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/messages/get)
            method can fetch additional message details.
        nextPageToken:
          type: string
          description: Token to retrieve the next page of results in the list.
        resultSizeEstimate:
          description: Estimated total number of results.
          type: integer
          format: uint32
    ListHistoryResponse:
      type: object
      properties:
        historyId:
          description: The ID of the mailbox's current history record.
          type: string
          format: uint64
        history:
          description: List of history records. Any `messages` contained in the response will typically only
            have `id` and `threadId` fields populated.
          type: array
          items:
            $ref: "#/components/schemas/History"
        nextPageToken:
          description: Page token to retrieve the next page of results in the list.
          type: string
    ListLabelsResponse:
      properties:
        labels:
          description: List of labels. Note that each label resource only contains an `id`, `name`,
            `messageListVisibility`, `labelListVisibility`, and `type`. The
            [`labels.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/labels/get)
            method can fetch additional label details.
          type: array
          items:
            $ref: "#/components/schemas/Label"
      type: object
    ListMessagesResponse:
      type: object
      properties:
        nextPageToken:
          description: Token to retrieve the next page of results in the list.
          type: string
        messages:
          description: List of messages. Note that each message resource contains only an `id` and a
            `threadId`. Additional message details can be fetched using the messages.get method.
          type: array
          items:
            $ref: "#/components/schemas/Message"
        resultSizeEstimate:
          description: Estimated total number of results.
          type: integer
          format: uint32
    ListThreadsResponse:
      type: object
      properties:
        threads:
          description: List of threads. Note that each thread resource does not contain a list of `messages`.
            The list of `messages` for a given thread can be fetched using the
            [`threads.get`](https://developers.google.com/workspace/gmail/api/v1/reference/users/threads/get)
            method.
          type: array
          items:
            $ref: "#/components/schemas/Thread"
        resultSizeEstimate:
          type: integer
          format: uint32
          description: Estimated total number of results.
        nextPageToken:
          description: Page token to retrieve the next page of results in the list.
          type: string
    Message:
      description: An email message.
      type: object
      properties:
        sizeEstimate:
          type: integer
          format: int32
          description: Estimated size in bytes of the message.
        threadId:
          type: string
          description: "The ID of the thread the message belongs to. To add a message or draft to a thread,
            the following criteria must be met: 1. The requested `threadId` must be specified on the
            `Message` or `Draft.Message` you supply with your request. 2. The `References` and
            `In-Reply-To` headers must be set in compliance with the [RFC
            2822](https://tools.ietf.org/html/rfc2822) standard. 3. The `Subject` headers must
            match. "
        historyId:
          format: uint64
          type: string
          description: The ID of the last history record that modified this message.
        snippet:
          description: A short part of the message text.
          type: string
        classificationLabelValues:
          description: Classification Label values on the message. Available Classification Label schemas can
            be queried using the Google Drive Labels API. Each classification label ID must be
            unique. If duplicate IDs are provided, only one will be retained, and the selection is
            arbitrary. Only used for Google Workspace accounts. There's a limit of 20 Classification
            Label values per request. If the Classification Label values exceeds the maximum allowed
            number, the request fails.
          type: array
          items:
            $ref: "#/components/schemas/ClassificationLabelValue"
        labelIds:
          description: List of IDs of labels applied to this message.
          type: array
          items:
            type: string
        internalDate:
          description: The internal message creation timestamp (epoch ms), which determines ordering in the
            inbox. For normal SMTP-received email, this represents the time the message was
            originally accepted by Google, which is more reliable than the `Date` header. However,
            for API-migrated mail, it can be configured by client to be based on the `Date` header.
          type: string
          format: int64
        raw:
          type: string
          format: byte
          description: The entire email message in an RFC 2822 formatted and base64url encoded string.
            Returned in `messages.get` and `drafts.get` responses when the `format=RAW` parameter is
            supplied. @required gmail.users.drafts.create gmail.users.drafts.update
        payload:
          description: The parsed email structure in the message parts.
          $ref: "#/components/schemas/MessagePart"
    MessagePart:
      description: A single MIME message part.
      properties:
        mimeType:
          type: string
          description: The MIME type of the message part.
        filename:
          type: string
          description: The filename of the attachment. Only present if this message part represents an
            attachment.
        headers:
          description: List of headers on this message part. For the top-level message part, representing the
            entire message payload, it will contain the standard RFC 2822 email headers such as
            `To`, `From`, and `Subject`.
          type: array
          items:
            $ref: "#/components/schemas/MessagePartHeader"
        partId:
          description: The immutable ID of the message part.
          type: string
        body:
          $ref: "#/components/schemas/MessagePartBody"
          description: The message part body for this part, which may be empty for container MIME message parts.
        parts:
          type: array
          items:
            $ref: "#/components/schemas/MessagePart"
          description: The child MIME message parts of this part. This only applies to container MIME message
            parts, for example `multipart/*`. For non- container MIME message part types, such as
            `text/plain`, this field is empty. For more information, see RFC 1521.
      type: object
    MessagePartBody:
      properties:
        attachmentId:
          type: string
          description: When present, contains the ID of an external attachment that can be retrieved in a
            separate `messages.attachments.get` request. When not present, the entire content of the
            message part body is contained in the data field.
        size:
          type: integer
          format: int32
          description: Number of bytes for the message part data (encoding notwithstanding).
        data:
          type: string
          format: byte
          description: The body data of a MIME message part as a base64url encoded string. May be empty for
            MIME container types that have no message body or when the body data is sent as a
            separate attachment. An attachment ID is present if the body data is contained in a
            separate attachment.
      type: object
      description: The body of a single MIME message part.
    MessagePartHeader:
      type: object
      properties:
        name:
          type: string
          description: The name of the header before the `:` separator. For example, `To`.
        value:
          description: The value of the header after the `:` separator. For example, `someuser@example.com`.
          type: string
    ModifyMessageRequest:
      type: object
      properties:
        addLabelIds:
          type: array
          items:
            type: string
          description: A list of IDs of labels to add to this message. You can add up to 100 labels with each
            update.
        addClassificationLabels:
          description: A list of classification label values to add. If a Classification Label with the same
            label ID is already applied to the message, fields with existing field IDs will be
            updated and fields with new field IDs will be added. There's a limit of 20
            Classification Label values per request. If the message is already classified and the
            final total number of Classification Label values exceeds the maximum allowed number of
            Classification Label values per message, the modification fails.
          type: array
          items:
            $ref: "#/components/schemas/ClassificationLabelValue"
        removeClassificationLabelIds:
          type: array
          items:
            type: string
          description: A list of Classification Label values to remove from this message.
        removeLabelIds:
          description: A list IDs of labels to remove from this message. You can remove up to 100 labels with
            each update.
          type: array
          items:
            type: string
    ModifyThreadRequest:
      type: object
      properties:
        removeLabelIds:
          type: array
          items:
            type: string
          description: A list of IDs of labels to remove from this thread. You can remove up to 100 labels
            with each update.
        addLabelIds:
          description: A list of IDs of labels to add to this thread. You can add up to 100 labels with each
            update.
          type: array
          items:
            type: string
    Profile:
      description: Profile for a Gmail user.
      properties:
        threadsTotal:
          format: int32
          type: integer
          description: The total number of threads in the mailbox.
        emailAddress:
          type: string
          description: The user's email address.
        messagesTotal:
          description: The total number of messages in the mailbox.
          format: int32
          type: integer
        historyId:
          description: The ID of the mailbox's current history record.
          type: string
          format: uint64
      type: object
    Thread:
      description: A collection of messages representing a conversation.
      type: object
      properties:
        historyId:
          description: The ID of the last history record that modified this thread.
          format: uint64
          type: string
        messages:
          type: array
          items:
            $ref: "#/components/schemas/Message"
          description: The list of messages in the thread.
        snippet:
          description: A short part of the message text.
          type: string
    VacationSettings:
      description: Vacation auto-reply settings for an account. These settings correspond to the "Vacation
        responder" feature in the web interface.
      type: object
      properties:
        startTime:
          type: string
          format: int64
          description: An optional start time for sending auto-replies (epoch ms). When this is specified,
            Gmail will automatically reply only to messages that it receives after the start time.
            If both `startTime` and `endTime` are specified, `startTime` must precede `endTime`.
        restrictToDomain:
          type: boolean
          description: Flag that determines whether responses are sent to recipients who are outside of the
            user's domain. This feature is only available for Google Workspace users.
        responseSubject:
          type: string
          description: Optional text to prepend to the subject line in vacation responses. In order to enable
            auto-replies, either the response subject or the response body must be nonempty.
        restrictToContacts:
          description: Flag that determines whether responses are sent to recipients who are not in the user's
            list of contacts.
          type: boolean
        responseBodyHtml:
          type: string
          description: Response body in HTML format. Gmail will sanitize the HTML before storing it. If both
            `response_body_plain_text` and `response_body_html` are specified, `response_body_html`
            will be used.
        responseBodyPlainText:
          description: Response body in plain text format. If both `response_body_plain_text` and
            `response_body_html` are specified, `response_body_html` will be used.
          type: string
        enableAutoReply:
          type: boolean
          description: Flag that controls whether Gmail automatically replies to messages.
        endTime:
          description: An optional end time for sending auto-replies (epoch ms). When this is specified, Gmail
            will automatically reply only to messages that it receives before the end time. If both
            `startTime` and `endTime` are specified, `startTime` must precede `endTime`.
          format: int64
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://mail.google.com/: https://mail.google.com/
            https://www.googleapis.com/auth/gmail.addons.current.action.compose: https://www.googleapis.com/auth/gmail.addons.current.action.compose
            https://www.googleapis.com/auth/gmail.addons.current.message.action: https://www.googleapis.com/auth/gmail.addons.current.message.action
            https://www.googleapis.com/auth/gmail.addons.current.message.metadata: https://www.googleapis.com/auth/gmail.addons.current.message.metadata
            https://www.googleapis.com/auth/gmail.addons.current.message.readonly: https://www.googleapis.com/auth/gmail.addons.current.message.readonly
            https://www.googleapis.com/auth/gmail.compose: https://www.googleapis.com/auth/gmail.compose
            https://www.googleapis.com/auth/gmail.insert: https://www.googleapis.com/auth/gmail.insert
            https://www.googleapis.com/auth/gmail.labels: https://www.googleapis.com/auth/gmail.labels
            https://www.googleapis.com/auth/gmail.metadata: https://www.googleapis.com/auth/gmail.metadata
            https://www.googleapis.com/auth/gmail.modify: https://www.googleapis.com/auth/gmail.modify
            https://www.googleapis.com/auth/gmail.readonly: https://www.googleapis.com/auth/gmail.readonly
            https://www.googleapis.com/auth/gmail.send: https://www.googleapis.com/auth/gmail.send
            https://www.googleapis.com/auth/gmail.settings.basic: https://www.googleapis.com/auth/gmail.settings.basic
            https://www.googleapis.com/auth/gmail.settings.sharing: https://www.googleapis.com/auth/gmail.settings.sharing
